/*
App Store Connect API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package appstoreopenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AppCustomProductPageLocalizationsApiService AppCustomProductPageLocalizationsApi service
type AppCustomProductPageLocalizationsApiService service

type AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *AppCustomProductPageLocalizationsApiService
	id string
	filterPreviewType *[]string
	filterAppStoreVersionExperimentTreatmentLocalization *[]string
	filterAppStoreVersionLocalization *[]string
	fieldsAppCustomProductPageLocalizations *[]string
	fieldsAppStoreVersionExperimentTreatmentLocalizations *[]string
	fieldsAppPreviews *[]string
	fieldsAppPreviewSets *[]string
	fieldsAppStoreVersionLocalizations *[]string
	limit *int32
	limitAppPreviews *int32
	include *[]string
}

// filter by attribute &#39;previewType&#39;
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) FilterPreviewType(filterPreviewType []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	r.filterPreviewType = &filterPreviewType
	return r
}

// filter by id(s) of related &#39;appStoreVersionExperimentTreatmentLocalization&#39;
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) FilterAppStoreVersionExperimentTreatmentLocalization(filterAppStoreVersionExperimentTreatmentLocalization []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	r.filterAppStoreVersionExperimentTreatmentLocalization = &filterAppStoreVersionExperimentTreatmentLocalization
	return r
}

// filter by id(s) of related &#39;appStoreVersionLocalization&#39;
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) FilterAppStoreVersionLocalization(filterAppStoreVersionLocalization []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	r.filterAppStoreVersionLocalization = &filterAppStoreVersionLocalization
	return r
}

// the fields to include for returned resources of type appCustomProductPageLocalizations
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) FieldsAppCustomProductPageLocalizations(fieldsAppCustomProductPageLocalizations []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	r.fieldsAppCustomProductPageLocalizations = &fieldsAppCustomProductPageLocalizations
	return r
}

// the fields to include for returned resources of type appStoreVersionExperimentTreatmentLocalizations
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) FieldsAppStoreVersionExperimentTreatmentLocalizations(fieldsAppStoreVersionExperimentTreatmentLocalizations []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	r.fieldsAppStoreVersionExperimentTreatmentLocalizations = &fieldsAppStoreVersionExperimentTreatmentLocalizations
	return r
}

// the fields to include for returned resources of type appPreviews
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) FieldsAppPreviews(fieldsAppPreviews []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	r.fieldsAppPreviews = &fieldsAppPreviews
	return r
}

// the fields to include for returned resources of type appPreviewSets
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) FieldsAppPreviewSets(fieldsAppPreviewSets []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	r.fieldsAppPreviewSets = &fieldsAppPreviewSets
	return r
}

// the fields to include for returned resources of type appStoreVersionLocalizations
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) FieldsAppStoreVersionLocalizations(fieldsAppStoreVersionLocalizations []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	r.fieldsAppStoreVersionLocalizations = &fieldsAppStoreVersionLocalizations
	return r
}

// maximum resources per page
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) Limit(limit int32) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// maximum number of related appPreviews returned (when they are included)
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) LimitAppPreviews(limitAppPreviews int32) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	r.limitAppPreviews = &limitAppPreviews
	return r
}

// comma-separated list of relationships to include
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) Include(include []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) Execute() (*AppPreviewSetsResponse, *http.Response, error) {
	return r.ApiService.AppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedExecute(r)
}

/*
AppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelated Method for AppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest
*/
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelated(ctx context.Context, id string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest {
	return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppPreviewSetsResponse
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedExecute(r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelatedRequest) (*AppPreviewSetsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppPreviewSetsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppCustomProductPageLocalizationsApiService.AppCustomProductPageLocalizationsAppPreviewSetsGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appCustomProductPageLocalizations/{id}/appPreviewSets"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterPreviewType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[previewType]", r.filterPreviewType, "csv")
	}
	if r.filterAppStoreVersionExperimentTreatmentLocalization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[appStoreVersionExperimentTreatmentLocalization]", r.filterAppStoreVersionExperimentTreatmentLocalization, "csv")
	}
	if r.filterAppStoreVersionLocalization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[appStoreVersionLocalization]", r.filterAppStoreVersionLocalization, "csv")
	}
	if r.fieldsAppCustomProductPageLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appCustomProductPageLocalizations]", r.fieldsAppCustomProductPageLocalizations, "csv")
	}
	if r.fieldsAppStoreVersionExperimentTreatmentLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appStoreVersionExperimentTreatmentLocalizations]", r.fieldsAppStoreVersionExperimentTreatmentLocalizations, "csv")
	}
	if r.fieldsAppPreviews != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPreviews]", r.fieldsAppPreviews, "csv")
	}
	if r.fieldsAppPreviewSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPreviewSets]", r.fieldsAppPreviewSets, "csv")
	}
	if r.fieldsAppStoreVersionLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appStoreVersionLocalizations]", r.fieldsAppStoreVersionLocalizations, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.limitAppPreviews != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appPreviews]", r.limitAppPreviews, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *AppCustomProductPageLocalizationsApiService
	id string
	filterScreenshotDisplayType *[]string
	filterAppStoreVersionExperimentTreatmentLocalization *[]string
	filterAppStoreVersionLocalization *[]string
	fieldsAppScreenshotSets *[]string
	fieldsAppCustomProductPageLocalizations *[]string
	fieldsAppStoreVersionExperimentTreatmentLocalizations *[]string
	fieldsAppScreenshots *[]string
	fieldsAppStoreVersionLocalizations *[]string
	limit *int32
	limitAppScreenshots *int32
	include *[]string
}

// filter by attribute &#39;screenshotDisplayType&#39;
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) FilterScreenshotDisplayType(filterScreenshotDisplayType []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	r.filterScreenshotDisplayType = &filterScreenshotDisplayType
	return r
}

// filter by id(s) of related &#39;appStoreVersionExperimentTreatmentLocalization&#39;
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) FilterAppStoreVersionExperimentTreatmentLocalization(filterAppStoreVersionExperimentTreatmentLocalization []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	r.filterAppStoreVersionExperimentTreatmentLocalization = &filterAppStoreVersionExperimentTreatmentLocalization
	return r
}

// filter by id(s) of related &#39;appStoreVersionLocalization&#39;
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) FilterAppStoreVersionLocalization(filterAppStoreVersionLocalization []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	r.filterAppStoreVersionLocalization = &filterAppStoreVersionLocalization
	return r
}

// the fields to include for returned resources of type appScreenshotSets
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) FieldsAppScreenshotSets(fieldsAppScreenshotSets []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	r.fieldsAppScreenshotSets = &fieldsAppScreenshotSets
	return r
}

// the fields to include for returned resources of type appCustomProductPageLocalizations
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) FieldsAppCustomProductPageLocalizations(fieldsAppCustomProductPageLocalizations []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	r.fieldsAppCustomProductPageLocalizations = &fieldsAppCustomProductPageLocalizations
	return r
}

// the fields to include for returned resources of type appStoreVersionExperimentTreatmentLocalizations
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) FieldsAppStoreVersionExperimentTreatmentLocalizations(fieldsAppStoreVersionExperimentTreatmentLocalizations []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	r.fieldsAppStoreVersionExperimentTreatmentLocalizations = &fieldsAppStoreVersionExperimentTreatmentLocalizations
	return r
}

// the fields to include for returned resources of type appScreenshots
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) FieldsAppScreenshots(fieldsAppScreenshots []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	r.fieldsAppScreenshots = &fieldsAppScreenshots
	return r
}

// the fields to include for returned resources of type appStoreVersionLocalizations
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) FieldsAppStoreVersionLocalizations(fieldsAppStoreVersionLocalizations []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	r.fieldsAppStoreVersionLocalizations = &fieldsAppStoreVersionLocalizations
	return r
}

// maximum resources per page
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) Limit(limit int32) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// maximum number of related appScreenshots returned (when they are included)
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) LimitAppScreenshots(limitAppScreenshots int32) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	r.limitAppScreenshots = &limitAppScreenshots
	return r
}

// comma-separated list of relationships to include
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) Include(include []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) Execute() (*AppScreenshotSetsResponse, *http.Response, error) {
	return r.ApiService.AppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedExecute(r)
}

/*
AppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelated Method for AppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest
*/
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelated(ctx context.Context, id string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest {
	return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppScreenshotSetsResponse
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedExecute(r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelatedRequest) (*AppScreenshotSetsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppScreenshotSetsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppCustomProductPageLocalizationsApiService.AppCustomProductPageLocalizationsAppScreenshotSetsGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appCustomProductPageLocalizations/{id}/appScreenshotSets"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterScreenshotDisplayType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[screenshotDisplayType]", r.filterScreenshotDisplayType, "csv")
	}
	if r.filterAppStoreVersionExperimentTreatmentLocalization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[appStoreVersionExperimentTreatmentLocalization]", r.filterAppStoreVersionExperimentTreatmentLocalization, "csv")
	}
	if r.filterAppStoreVersionLocalization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[appStoreVersionLocalization]", r.filterAppStoreVersionLocalization, "csv")
	}
	if r.fieldsAppScreenshotSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appScreenshotSets]", r.fieldsAppScreenshotSets, "csv")
	}
	if r.fieldsAppCustomProductPageLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appCustomProductPageLocalizations]", r.fieldsAppCustomProductPageLocalizations, "csv")
	}
	if r.fieldsAppStoreVersionExperimentTreatmentLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appStoreVersionExperimentTreatmentLocalizations]", r.fieldsAppStoreVersionExperimentTreatmentLocalizations, "csv")
	}
	if r.fieldsAppScreenshots != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appScreenshots]", r.fieldsAppScreenshots, "csv")
	}
	if r.fieldsAppStoreVersionLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appStoreVersionLocalizations]", r.fieldsAppStoreVersionLocalizations, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.limitAppScreenshots != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appScreenshots]", r.limitAppScreenshots, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsCreateInstanceRequest struct {
	ctx context.Context
	ApiService *AppCustomProductPageLocalizationsApiService
	appCustomProductPageLocalizationCreateRequest *AppCustomProductPageLocalizationCreateRequest
}

// AppCustomProductPageLocalization representation
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsCreateInstanceRequest) AppCustomProductPageLocalizationCreateRequest(appCustomProductPageLocalizationCreateRequest AppCustomProductPageLocalizationCreateRequest) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsCreateInstanceRequest {
	r.appCustomProductPageLocalizationCreateRequest = &appCustomProductPageLocalizationCreateRequest
	return r
}

func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsCreateInstanceRequest) Execute() (*AppCustomProductPageLocalizationResponse, *http.Response, error) {
	return r.ApiService.AppCustomProductPageLocalizationsCreateInstanceExecute(r)
}

/*
AppCustomProductPageLocalizationsCreateInstance Method for AppCustomProductPageLocalizationsCreateInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsCreateInstanceRequest
*/
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsCreateInstance(ctx context.Context) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsCreateInstanceRequest {
	return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsCreateInstanceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AppCustomProductPageLocalizationResponse
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsCreateInstanceExecute(r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsCreateInstanceRequest) (*AppCustomProductPageLocalizationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppCustomProductPageLocalizationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppCustomProductPageLocalizationsApiService.AppCustomProductPageLocalizationsCreateInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appCustomProductPageLocalizations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.appCustomProductPageLocalizationCreateRequest == nil {
		return localVarReturnValue, nil, reportError("appCustomProductPageLocalizationCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.appCustomProductPageLocalizationCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsDeleteInstanceRequest struct {
	ctx context.Context
	ApiService *AppCustomProductPageLocalizationsApiService
	id string
}

func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsDeleteInstanceRequest) Execute() (*http.Response, error) {
	return r.ApiService.AppCustomProductPageLocalizationsDeleteInstanceExecute(r)
}

/*
AppCustomProductPageLocalizationsDeleteInstance Method for AppCustomProductPageLocalizationsDeleteInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsDeleteInstanceRequest
*/
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsDeleteInstance(ctx context.Context, id string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsDeleteInstanceRequest {
	return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsDeleteInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsDeleteInstanceExecute(r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsDeleteInstanceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppCustomProductPageLocalizationsApiService.AppCustomProductPageLocalizationsDeleteInstance")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appCustomProductPageLocalizations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest struct {
	ctx context.Context
	ApiService *AppCustomProductPageLocalizationsApiService
	id string
	fieldsAppCustomProductPageLocalizations *[]string
	include *[]string
	fieldsAppScreenshotSets *[]string
	fieldsAppPreviewSets *[]string
	limitAppPreviewSets *int32
	limitAppScreenshotSets *int32
}

// the fields to include for returned resources of type appCustomProductPageLocalizations
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest) FieldsAppCustomProductPageLocalizations(fieldsAppCustomProductPageLocalizations []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest {
	r.fieldsAppCustomProductPageLocalizations = &fieldsAppCustomProductPageLocalizations
	return r
}

// comma-separated list of relationships to include
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest) Include(include []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type appScreenshotSets
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest) FieldsAppScreenshotSets(fieldsAppScreenshotSets []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest {
	r.fieldsAppScreenshotSets = &fieldsAppScreenshotSets
	return r
}

// the fields to include for returned resources of type appPreviewSets
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest) FieldsAppPreviewSets(fieldsAppPreviewSets []string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest {
	r.fieldsAppPreviewSets = &fieldsAppPreviewSets
	return r
}

// maximum number of related appPreviewSets returned (when they are included)
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest) LimitAppPreviewSets(limitAppPreviewSets int32) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest {
	r.limitAppPreviewSets = &limitAppPreviewSets
	return r
}

// maximum number of related appScreenshotSets returned (when they are included)
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest) LimitAppScreenshotSets(limitAppScreenshotSets int32) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest {
	r.limitAppScreenshotSets = &limitAppScreenshotSets
	return r
}

func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest) Execute() (*AppCustomProductPageLocalizationResponse, *http.Response, error) {
	return r.ApiService.AppCustomProductPageLocalizationsGetInstanceExecute(r)
}

/*
AppCustomProductPageLocalizationsGetInstance Method for AppCustomProductPageLocalizationsGetInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest
*/
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsGetInstance(ctx context.Context, id string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest {
	return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppCustomProductPageLocalizationResponse
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsGetInstanceExecute(r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsGetInstanceRequest) (*AppCustomProductPageLocalizationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppCustomProductPageLocalizationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppCustomProductPageLocalizationsApiService.AppCustomProductPageLocalizationsGetInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appCustomProductPageLocalizations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsAppCustomProductPageLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appCustomProductPageLocalizations]", r.fieldsAppCustomProductPageLocalizations, "csv")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsAppScreenshotSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appScreenshotSets]", r.fieldsAppScreenshotSets, "csv")
	}
	if r.fieldsAppPreviewSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPreviewSets]", r.fieldsAppPreviewSets, "csv")
	}
	if r.limitAppPreviewSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appPreviewSets]", r.limitAppPreviewSets, "")
	}
	if r.limitAppScreenshotSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appScreenshotSets]", r.limitAppScreenshotSets, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsUpdateInstanceRequest struct {
	ctx context.Context
	ApiService *AppCustomProductPageLocalizationsApiService
	id string
	appCustomProductPageLocalizationUpdateRequest *AppCustomProductPageLocalizationUpdateRequest
}

// AppCustomProductPageLocalization representation
func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsUpdateInstanceRequest) AppCustomProductPageLocalizationUpdateRequest(appCustomProductPageLocalizationUpdateRequest AppCustomProductPageLocalizationUpdateRequest) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsUpdateInstanceRequest {
	r.appCustomProductPageLocalizationUpdateRequest = &appCustomProductPageLocalizationUpdateRequest
	return r
}

func (r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsUpdateInstanceRequest) Execute() (*AppCustomProductPageLocalizationResponse, *http.Response, error) {
	return r.ApiService.AppCustomProductPageLocalizationsUpdateInstanceExecute(r)
}

/*
AppCustomProductPageLocalizationsUpdateInstance Method for AppCustomProductPageLocalizationsUpdateInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsUpdateInstanceRequest
*/
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsUpdateInstance(ctx context.Context, id string) AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsUpdateInstanceRequest {
	return AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsUpdateInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppCustomProductPageLocalizationResponse
func (a *AppCustomProductPageLocalizationsApiService) AppCustomProductPageLocalizationsUpdateInstanceExecute(r AppCustomProductPageLocalizationsApiAppCustomProductPageLocalizationsUpdateInstanceRequest) (*AppCustomProductPageLocalizationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppCustomProductPageLocalizationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppCustomProductPageLocalizationsApiService.AppCustomProductPageLocalizationsUpdateInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appCustomProductPageLocalizations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.appCustomProductPageLocalizationUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("appCustomProductPageLocalizationUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.appCustomProductPageLocalizationUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
