/*
App Store Connect API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package appstoreopenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AppPriceSchedulesApiService AppPriceSchedulesApi service
type AppPriceSchedulesApiService service

type AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *AppPriceSchedulesApiService
	id string
	filterEndDate *[]string
	filterStartDate *[]string
	filterTerritory *[]string
	fieldsAppPrices *[]string
	fieldsAppPricePoints *[]string
	fieldsTerritories *[]string
	limit *int32
	include *[]string
}

// filter by attribute &#39;endDate&#39;
func (r AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest) FilterEndDate(filterEndDate []string) AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest {
	r.filterEndDate = &filterEndDate
	return r
}

// filter by attribute &#39;startDate&#39;
func (r AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest) FilterStartDate(filterStartDate []string) AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest {
	r.filterStartDate = &filterStartDate
	return r
}

// filter by id(s) of related &#39;territory&#39;
func (r AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest) FilterTerritory(filterTerritory []string) AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest {
	r.filterTerritory = &filterTerritory
	return r
}

// the fields to include for returned resources of type appPrices
func (r AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest) FieldsAppPrices(fieldsAppPrices []string) AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest {
	r.fieldsAppPrices = &fieldsAppPrices
	return r
}

// the fields to include for returned resources of type appPricePoints
func (r AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest) FieldsAppPricePoints(fieldsAppPricePoints []string) AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest {
	r.fieldsAppPricePoints = &fieldsAppPricePoints
	return r
}

// the fields to include for returned resources of type territories
func (r AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest) FieldsTerritories(fieldsTerritories []string) AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest {
	r.fieldsTerritories = &fieldsTerritories
	return r
}

// maximum resources per page
func (r AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest) Limit(limit int32) AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest) Include(include []string) AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest) Execute() (*AppPricesV2Response, *http.Response, error) {
	return r.ApiService.AppPriceSchedulesAutomaticPricesGetToManyRelatedExecute(r)
}

/*
AppPriceSchedulesAutomaticPricesGetToManyRelated Method for AppPriceSchedulesAutomaticPricesGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest
*/
func (a *AppPriceSchedulesApiService) AppPriceSchedulesAutomaticPricesGetToManyRelated(ctx context.Context, id string) AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest {
	return AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppPricesV2Response
func (a *AppPriceSchedulesApiService) AppPriceSchedulesAutomaticPricesGetToManyRelatedExecute(r AppPriceSchedulesApiAppPriceSchedulesAutomaticPricesGetToManyRelatedRequest) (*AppPricesV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppPricesV2Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppPriceSchedulesApiService.AppPriceSchedulesAutomaticPricesGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appPriceSchedules/{id}/automaticPrices"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterEndDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[endDate]", r.filterEndDate, "csv")
	}
	if r.filterStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[startDate]", r.filterStartDate, "csv")
	}
	if r.filterTerritory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[territory]", r.filterTerritory, "csv")
	}
	if r.fieldsAppPrices != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPrices]", r.fieldsAppPrices, "csv")
	}
	if r.fieldsAppPricePoints != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPricePoints]", r.fieldsAppPricePoints, "csv")
	}
	if r.fieldsTerritories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[territories]", r.fieldsTerritories, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppPriceSchedulesApiAppPriceSchedulesBaseTerritoryGetToOneRelatedRequest struct {
	ctx context.Context
	ApiService *AppPriceSchedulesApiService
	id string
	fieldsTerritories *[]string
}

// the fields to include for returned resources of type territories
func (r AppPriceSchedulesApiAppPriceSchedulesBaseTerritoryGetToOneRelatedRequest) FieldsTerritories(fieldsTerritories []string) AppPriceSchedulesApiAppPriceSchedulesBaseTerritoryGetToOneRelatedRequest {
	r.fieldsTerritories = &fieldsTerritories
	return r
}

func (r AppPriceSchedulesApiAppPriceSchedulesBaseTerritoryGetToOneRelatedRequest) Execute() (*TerritoryResponse, *http.Response, error) {
	return r.ApiService.AppPriceSchedulesBaseTerritoryGetToOneRelatedExecute(r)
}

/*
AppPriceSchedulesBaseTerritoryGetToOneRelated Method for AppPriceSchedulesBaseTerritoryGetToOneRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return AppPriceSchedulesApiAppPriceSchedulesBaseTerritoryGetToOneRelatedRequest
*/
func (a *AppPriceSchedulesApiService) AppPriceSchedulesBaseTerritoryGetToOneRelated(ctx context.Context, id string) AppPriceSchedulesApiAppPriceSchedulesBaseTerritoryGetToOneRelatedRequest {
	return AppPriceSchedulesApiAppPriceSchedulesBaseTerritoryGetToOneRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return TerritoryResponse
func (a *AppPriceSchedulesApiService) AppPriceSchedulesBaseTerritoryGetToOneRelatedExecute(r AppPriceSchedulesApiAppPriceSchedulesBaseTerritoryGetToOneRelatedRequest) (*TerritoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TerritoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppPriceSchedulesApiService.AppPriceSchedulesBaseTerritoryGetToOneRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appPriceSchedules/{id}/baseTerritory"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsTerritories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[territories]", r.fieldsTerritories, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppPriceSchedulesApiAppPriceSchedulesCreateInstanceRequest struct {
	ctx context.Context
	ApiService *AppPriceSchedulesApiService
	appPriceScheduleCreateRequest *AppPriceScheduleCreateRequest
}

// AppPriceSchedule representation
func (r AppPriceSchedulesApiAppPriceSchedulesCreateInstanceRequest) AppPriceScheduleCreateRequest(appPriceScheduleCreateRequest AppPriceScheduleCreateRequest) AppPriceSchedulesApiAppPriceSchedulesCreateInstanceRequest {
	r.appPriceScheduleCreateRequest = &appPriceScheduleCreateRequest
	return r
}

func (r AppPriceSchedulesApiAppPriceSchedulesCreateInstanceRequest) Execute() (*AppPriceScheduleResponse, *http.Response, error) {
	return r.ApiService.AppPriceSchedulesCreateInstanceExecute(r)
}

/*
AppPriceSchedulesCreateInstance Method for AppPriceSchedulesCreateInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AppPriceSchedulesApiAppPriceSchedulesCreateInstanceRequest
*/
func (a *AppPriceSchedulesApiService) AppPriceSchedulesCreateInstance(ctx context.Context) AppPriceSchedulesApiAppPriceSchedulesCreateInstanceRequest {
	return AppPriceSchedulesApiAppPriceSchedulesCreateInstanceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AppPriceScheduleResponse
func (a *AppPriceSchedulesApiService) AppPriceSchedulesCreateInstanceExecute(r AppPriceSchedulesApiAppPriceSchedulesCreateInstanceRequest) (*AppPriceScheduleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppPriceScheduleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppPriceSchedulesApiService.AppPriceSchedulesCreateInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appPriceSchedules"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.appPriceScheduleCreateRequest == nil {
		return localVarReturnValue, nil, reportError("appPriceScheduleCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.appPriceScheduleCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest struct {
	ctx context.Context
	ApiService *AppPriceSchedulesApiService
	id string
	fieldsAppPriceSchedules *[]string
	include *[]string
	fieldsAppPrices *[]string
	fieldsTerritories *[]string
	limitAutomaticPrices *int32
	limitManualPrices *int32
}

// the fields to include for returned resources of type appPriceSchedules
func (r AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest) FieldsAppPriceSchedules(fieldsAppPriceSchedules []string) AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest {
	r.fieldsAppPriceSchedules = &fieldsAppPriceSchedules
	return r
}

// comma-separated list of relationships to include
func (r AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest) Include(include []string) AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type appPrices
func (r AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest) FieldsAppPrices(fieldsAppPrices []string) AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest {
	r.fieldsAppPrices = &fieldsAppPrices
	return r
}

// the fields to include for returned resources of type territories
func (r AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest) FieldsTerritories(fieldsTerritories []string) AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest {
	r.fieldsTerritories = &fieldsTerritories
	return r
}

// maximum number of related automaticPrices returned (when they are included)
func (r AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest) LimitAutomaticPrices(limitAutomaticPrices int32) AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest {
	r.limitAutomaticPrices = &limitAutomaticPrices
	return r
}

// maximum number of related manualPrices returned (when they are included)
func (r AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest) LimitManualPrices(limitManualPrices int32) AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest {
	r.limitManualPrices = &limitManualPrices
	return r
}

func (r AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest) Execute() (*AppPriceScheduleResponse, *http.Response, error) {
	return r.ApiService.AppPriceSchedulesGetInstanceExecute(r)
}

/*
AppPriceSchedulesGetInstance Method for AppPriceSchedulesGetInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest
*/
func (a *AppPriceSchedulesApiService) AppPriceSchedulesGetInstance(ctx context.Context, id string) AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest {
	return AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppPriceScheduleResponse
func (a *AppPriceSchedulesApiService) AppPriceSchedulesGetInstanceExecute(r AppPriceSchedulesApiAppPriceSchedulesGetInstanceRequest) (*AppPriceScheduleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppPriceScheduleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppPriceSchedulesApiService.AppPriceSchedulesGetInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appPriceSchedules/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsAppPriceSchedules != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPriceSchedules]", r.fieldsAppPriceSchedules, "csv")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsAppPrices != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPrices]", r.fieldsAppPrices, "csv")
	}
	if r.fieldsTerritories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[territories]", r.fieldsTerritories, "csv")
	}
	if r.limitAutomaticPrices != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[automaticPrices]", r.limitAutomaticPrices, "")
	}
	if r.limitManualPrices != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[manualPrices]", r.limitManualPrices, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *AppPriceSchedulesApiService
	id string
	filterEndDate *[]string
	filterStartDate *[]string
	filterTerritory *[]string
	fieldsAppPrices *[]string
	fieldsAppPricePoints *[]string
	fieldsTerritories *[]string
	limit *int32
	include *[]string
}

// filter by attribute &#39;endDate&#39;
func (r AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest) FilterEndDate(filterEndDate []string) AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest {
	r.filterEndDate = &filterEndDate
	return r
}

// filter by attribute &#39;startDate&#39;
func (r AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest) FilterStartDate(filterStartDate []string) AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest {
	r.filterStartDate = &filterStartDate
	return r
}

// filter by id(s) of related &#39;territory&#39;
func (r AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest) FilterTerritory(filterTerritory []string) AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest {
	r.filterTerritory = &filterTerritory
	return r
}

// the fields to include for returned resources of type appPrices
func (r AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest) FieldsAppPrices(fieldsAppPrices []string) AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest {
	r.fieldsAppPrices = &fieldsAppPrices
	return r
}

// the fields to include for returned resources of type appPricePoints
func (r AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest) FieldsAppPricePoints(fieldsAppPricePoints []string) AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest {
	r.fieldsAppPricePoints = &fieldsAppPricePoints
	return r
}

// the fields to include for returned resources of type territories
func (r AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest) FieldsTerritories(fieldsTerritories []string) AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest {
	r.fieldsTerritories = &fieldsTerritories
	return r
}

// maximum resources per page
func (r AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest) Limit(limit int32) AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest) Include(include []string) AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest) Execute() (*AppPricesV2Response, *http.Response, error) {
	return r.ApiService.AppPriceSchedulesManualPricesGetToManyRelatedExecute(r)
}

/*
AppPriceSchedulesManualPricesGetToManyRelated Method for AppPriceSchedulesManualPricesGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest
*/
func (a *AppPriceSchedulesApiService) AppPriceSchedulesManualPricesGetToManyRelated(ctx context.Context, id string) AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest {
	return AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppPricesV2Response
func (a *AppPriceSchedulesApiService) AppPriceSchedulesManualPricesGetToManyRelatedExecute(r AppPriceSchedulesApiAppPriceSchedulesManualPricesGetToManyRelatedRequest) (*AppPricesV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppPricesV2Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppPriceSchedulesApiService.AppPriceSchedulesManualPricesGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appPriceSchedules/{id}/manualPrices"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterEndDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[endDate]", r.filterEndDate, "csv")
	}
	if r.filterStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[startDate]", r.filterStartDate, "csv")
	}
	if r.filterTerritory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[territory]", r.filterTerritory, "csv")
	}
	if r.fieldsAppPrices != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPrices]", r.fieldsAppPrices, "csv")
	}
	if r.fieldsAppPricePoints != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPricePoints]", r.fieldsAppPricePoints, "csv")
	}
	if r.fieldsTerritories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[territories]", r.fieldsTerritories, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
