/*
App Store Connect API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package appstoreopenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CiXcodeVersionsApiService CiXcodeVersionsApi service
type CiXcodeVersionsApiService service

type CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest struct {
	ctx context.Context
	ApiService *CiXcodeVersionsApiService
	fieldsCiXcodeVersions *[]string
	limit *int32
	include *[]string
	fieldsCiMacOsVersions *[]string
	limitMacOsVersions *int32
}

// the fields to include for returned resources of type ciXcodeVersions
func (r CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest) FieldsCiXcodeVersions(fieldsCiXcodeVersions []string) CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest {
	r.fieldsCiXcodeVersions = &fieldsCiXcodeVersions
	return r
}

// maximum resources per page
func (r CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest) Limit(limit int32) CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest) Include(include []string) CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type ciMacOsVersions
func (r CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest) FieldsCiMacOsVersions(fieldsCiMacOsVersions []string) CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest {
	r.fieldsCiMacOsVersions = &fieldsCiMacOsVersions
	return r
}

// maximum number of related macOsVersions returned (when they are included)
func (r CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest) LimitMacOsVersions(limitMacOsVersions int32) CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest {
	r.limitMacOsVersions = &limitMacOsVersions
	return r
}

func (r CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest) Execute() (*CiXcodeVersionsResponse, *http.Response, error) {
	return r.ApiService.CiXcodeVersionsGetCollectionExecute(r)
}

/*
CiXcodeVersionsGetCollection Method for CiXcodeVersionsGetCollection

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest
*/
func (a *CiXcodeVersionsApiService) CiXcodeVersionsGetCollection(ctx context.Context) CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest {
	return CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CiXcodeVersionsResponse
func (a *CiXcodeVersionsApiService) CiXcodeVersionsGetCollectionExecute(r CiXcodeVersionsApiCiXcodeVersionsGetCollectionRequest) (*CiXcodeVersionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CiXcodeVersionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiXcodeVersionsApiService.CiXcodeVersionsGetCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciXcodeVersions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsCiXcodeVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciXcodeVersions]", r.fieldsCiXcodeVersions, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsCiMacOsVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciMacOsVersions]", r.fieldsCiMacOsVersions, "csv")
	}
	if r.limitMacOsVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[macOsVersions]", r.limitMacOsVersions, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest struct {
	ctx context.Context
	ApiService *CiXcodeVersionsApiService
	id string
	fieldsCiXcodeVersions *[]string
	include *[]string
	fieldsCiMacOsVersions *[]string
	limitMacOsVersions *int32
}

// the fields to include for returned resources of type ciXcodeVersions
func (r CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest) FieldsCiXcodeVersions(fieldsCiXcodeVersions []string) CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest {
	r.fieldsCiXcodeVersions = &fieldsCiXcodeVersions
	return r
}

// comma-separated list of relationships to include
func (r CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest) Include(include []string) CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type ciMacOsVersions
func (r CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest) FieldsCiMacOsVersions(fieldsCiMacOsVersions []string) CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest {
	r.fieldsCiMacOsVersions = &fieldsCiMacOsVersions
	return r
}

// maximum number of related macOsVersions returned (when they are included)
func (r CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest) LimitMacOsVersions(limitMacOsVersions int32) CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest {
	r.limitMacOsVersions = &limitMacOsVersions
	return r
}

func (r CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest) Execute() (*CiXcodeVersionResponse, *http.Response, error) {
	return r.ApiService.CiXcodeVersionsGetInstanceExecute(r)
}

/*
CiXcodeVersionsGetInstance Method for CiXcodeVersionsGetInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest
*/
func (a *CiXcodeVersionsApiService) CiXcodeVersionsGetInstance(ctx context.Context, id string) CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest {
	return CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CiXcodeVersionResponse
func (a *CiXcodeVersionsApiService) CiXcodeVersionsGetInstanceExecute(r CiXcodeVersionsApiCiXcodeVersionsGetInstanceRequest) (*CiXcodeVersionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CiXcodeVersionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiXcodeVersionsApiService.CiXcodeVersionsGetInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciXcodeVersions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsCiXcodeVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciXcodeVersions]", r.fieldsCiXcodeVersions, "csv")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsCiMacOsVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciMacOsVersions]", r.fieldsCiMacOsVersions, "csv")
	}
	if r.limitMacOsVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[macOsVersions]", r.limitMacOsVersions, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *CiXcodeVersionsApiService
	id string
	fieldsCiXcodeVersions *[]string
	fieldsCiMacOsVersions *[]string
	limit *int32
	limitXcodeVersions *int32
	include *[]string
}

// the fields to include for returned resources of type ciXcodeVersions
func (r CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest) FieldsCiXcodeVersions(fieldsCiXcodeVersions []string) CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest {
	r.fieldsCiXcodeVersions = &fieldsCiXcodeVersions
	return r
}

// the fields to include for returned resources of type ciMacOsVersions
func (r CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest) FieldsCiMacOsVersions(fieldsCiMacOsVersions []string) CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest {
	r.fieldsCiMacOsVersions = &fieldsCiMacOsVersions
	return r
}

// maximum resources per page
func (r CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest) Limit(limit int32) CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// maximum number of related xcodeVersions returned (when they are included)
func (r CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest) LimitXcodeVersions(limitXcodeVersions int32) CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest {
	r.limitXcodeVersions = &limitXcodeVersions
	return r
}

// comma-separated list of relationships to include
func (r CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest) Include(include []string) CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest) Execute() (*CiMacOsVersionsResponse, *http.Response, error) {
	return r.ApiService.CiXcodeVersionsMacOsVersionsGetToManyRelatedExecute(r)
}

/*
CiXcodeVersionsMacOsVersionsGetToManyRelated Method for CiXcodeVersionsMacOsVersionsGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest
*/
func (a *CiXcodeVersionsApiService) CiXcodeVersionsMacOsVersionsGetToManyRelated(ctx context.Context, id string) CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest {
	return CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CiMacOsVersionsResponse
func (a *CiXcodeVersionsApiService) CiXcodeVersionsMacOsVersionsGetToManyRelatedExecute(r CiXcodeVersionsApiCiXcodeVersionsMacOsVersionsGetToManyRelatedRequest) (*CiMacOsVersionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CiMacOsVersionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiXcodeVersionsApiService.CiXcodeVersionsMacOsVersionsGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciXcodeVersions/{id}/macOsVersions"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsCiXcodeVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciXcodeVersions]", r.fieldsCiXcodeVersions, "csv")
	}
	if r.fieldsCiMacOsVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciMacOsVersions]", r.fieldsCiMacOsVersions, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.limitXcodeVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[xcodeVersions]", r.limitXcodeVersions, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
