/*
App Store Connect API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package appstoreopenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SubscriptionGroupsApiService SubscriptionGroupsApi service
type SubscriptionGroupsApiService service

type SubscriptionGroupsApiSubscriptionGroupsCreateInstanceRequest struct {
	ctx context.Context
	ApiService *SubscriptionGroupsApiService
	subscriptionGroupCreateRequest *SubscriptionGroupCreateRequest
}

// SubscriptionGroup representation
func (r SubscriptionGroupsApiSubscriptionGroupsCreateInstanceRequest) SubscriptionGroupCreateRequest(subscriptionGroupCreateRequest SubscriptionGroupCreateRequest) SubscriptionGroupsApiSubscriptionGroupsCreateInstanceRequest {
	r.subscriptionGroupCreateRequest = &subscriptionGroupCreateRequest
	return r
}

func (r SubscriptionGroupsApiSubscriptionGroupsCreateInstanceRequest) Execute() (*SubscriptionGroupResponse, *http.Response, error) {
	return r.ApiService.SubscriptionGroupsCreateInstanceExecute(r)
}

/*
SubscriptionGroupsCreateInstance Method for SubscriptionGroupsCreateInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SubscriptionGroupsApiSubscriptionGroupsCreateInstanceRequest
*/
func (a *SubscriptionGroupsApiService) SubscriptionGroupsCreateInstance(ctx context.Context) SubscriptionGroupsApiSubscriptionGroupsCreateInstanceRequest {
	return SubscriptionGroupsApiSubscriptionGroupsCreateInstanceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SubscriptionGroupResponse
func (a *SubscriptionGroupsApiService) SubscriptionGroupsCreateInstanceExecute(r SubscriptionGroupsApiSubscriptionGroupsCreateInstanceRequest) (*SubscriptionGroupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SubscriptionGroupResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubscriptionGroupsApiService.SubscriptionGroupsCreateInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/subscriptionGroups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.subscriptionGroupCreateRequest == nil {
		return localVarReturnValue, nil, reportError("subscriptionGroupCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.subscriptionGroupCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SubscriptionGroupsApiSubscriptionGroupsDeleteInstanceRequest struct {
	ctx context.Context
	ApiService *SubscriptionGroupsApiService
	id string
}

func (r SubscriptionGroupsApiSubscriptionGroupsDeleteInstanceRequest) Execute() (*http.Response, error) {
	return r.ApiService.SubscriptionGroupsDeleteInstanceExecute(r)
}

/*
SubscriptionGroupsDeleteInstance Method for SubscriptionGroupsDeleteInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return SubscriptionGroupsApiSubscriptionGroupsDeleteInstanceRequest
*/
func (a *SubscriptionGroupsApiService) SubscriptionGroupsDeleteInstance(ctx context.Context, id string) SubscriptionGroupsApiSubscriptionGroupsDeleteInstanceRequest {
	return SubscriptionGroupsApiSubscriptionGroupsDeleteInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SubscriptionGroupsApiService) SubscriptionGroupsDeleteInstanceExecute(r SubscriptionGroupsApiSubscriptionGroupsDeleteInstanceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubscriptionGroupsApiService.SubscriptionGroupsDeleteInstance")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/subscriptionGroups/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest struct {
	ctx context.Context
	ApiService *SubscriptionGroupsApiService
	id string
	fieldsSubscriptionGroups *[]string
	include *[]string
	fieldsSubscriptions *[]string
	fieldsSubscriptionGroupLocalizations *[]string
	limitSubscriptionGroupLocalizations *int32
	limitSubscriptions *int32
}

// the fields to include for returned resources of type subscriptionGroups
func (r SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest) FieldsSubscriptionGroups(fieldsSubscriptionGroups []string) SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest {
	r.fieldsSubscriptionGroups = &fieldsSubscriptionGroups
	return r
}

// comma-separated list of relationships to include
func (r SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest) Include(include []string) SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type subscriptions
func (r SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest) FieldsSubscriptions(fieldsSubscriptions []string) SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest {
	r.fieldsSubscriptions = &fieldsSubscriptions
	return r
}

// the fields to include for returned resources of type subscriptionGroupLocalizations
func (r SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest) FieldsSubscriptionGroupLocalizations(fieldsSubscriptionGroupLocalizations []string) SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest {
	r.fieldsSubscriptionGroupLocalizations = &fieldsSubscriptionGroupLocalizations
	return r
}

// maximum number of related subscriptionGroupLocalizations returned (when they are included)
func (r SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest) LimitSubscriptionGroupLocalizations(limitSubscriptionGroupLocalizations int32) SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest {
	r.limitSubscriptionGroupLocalizations = &limitSubscriptionGroupLocalizations
	return r
}

// maximum number of related subscriptions returned (when they are included)
func (r SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest) LimitSubscriptions(limitSubscriptions int32) SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest {
	r.limitSubscriptions = &limitSubscriptions
	return r
}

func (r SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest) Execute() (*SubscriptionGroupResponse, *http.Response, error) {
	return r.ApiService.SubscriptionGroupsGetInstanceExecute(r)
}

/*
SubscriptionGroupsGetInstance Method for SubscriptionGroupsGetInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest
*/
func (a *SubscriptionGroupsApiService) SubscriptionGroupsGetInstance(ctx context.Context, id string) SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest {
	return SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SubscriptionGroupResponse
func (a *SubscriptionGroupsApiService) SubscriptionGroupsGetInstanceExecute(r SubscriptionGroupsApiSubscriptionGroupsGetInstanceRequest) (*SubscriptionGroupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SubscriptionGroupResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubscriptionGroupsApiService.SubscriptionGroupsGetInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/subscriptionGroups/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsSubscriptionGroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionGroups]", r.fieldsSubscriptionGroups, "csv")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsSubscriptions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptions]", r.fieldsSubscriptions, "csv")
	}
	if r.fieldsSubscriptionGroupLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionGroupLocalizations]", r.fieldsSubscriptionGroupLocalizations, "csv")
	}
	if r.limitSubscriptionGroupLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[subscriptionGroupLocalizations]", r.limitSubscriptionGroupLocalizations, "")
	}
	if r.limitSubscriptions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[subscriptions]", r.limitSubscriptions, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *SubscriptionGroupsApiService
	id string
	fieldsSubscriptionGroups *[]string
	fieldsSubscriptionGroupLocalizations *[]string
	limit *int32
	include *[]string
}

// the fields to include for returned resources of type subscriptionGroups
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest) FieldsSubscriptionGroups(fieldsSubscriptionGroups []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest {
	r.fieldsSubscriptionGroups = &fieldsSubscriptionGroups
	return r
}

// the fields to include for returned resources of type subscriptionGroupLocalizations
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest) FieldsSubscriptionGroupLocalizations(fieldsSubscriptionGroupLocalizations []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest {
	r.fieldsSubscriptionGroupLocalizations = &fieldsSubscriptionGroupLocalizations
	return r
}

// maximum resources per page
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest) Limit(limit int32) SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest) Include(include []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest) Execute() (*SubscriptionGroupLocalizationsResponse, *http.Response, error) {
	return r.ApiService.SubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedExecute(r)
}

/*
SubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelated Method for SubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest
*/
func (a *SubscriptionGroupsApiService) SubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelated(ctx context.Context, id string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest {
	return SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SubscriptionGroupLocalizationsResponse
func (a *SubscriptionGroupsApiService) SubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedExecute(r SubscriptionGroupsApiSubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelatedRequest) (*SubscriptionGroupLocalizationsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SubscriptionGroupLocalizationsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubscriptionGroupsApiService.SubscriptionGroupsSubscriptionGroupLocalizationsGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/subscriptionGroups/{id}/subscriptionGroupLocalizations"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsSubscriptionGroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionGroups]", r.fieldsSubscriptionGroups, "csv")
	}
	if r.fieldsSubscriptionGroupLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionGroupLocalizations]", r.fieldsSubscriptionGroupLocalizations, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *SubscriptionGroupsApiService
	id string
	filterName *[]string
	filterProductId *[]string
	filterState *[]string
	sort *[]string
	fieldsPromotedPurchases *[]string
	fieldsSubscriptionPromotionalOffers *[]string
	fieldsSubscriptionOfferCodes *[]string
	fieldsSubscriptionAppStoreReviewScreenshots *[]string
	fieldsSubscriptions *[]string
	fieldsSubscriptionGroups *[]string
	fieldsSubscriptionIntroductoryOffers *[]string
	fieldsSubscriptionPrices *[]string
	fieldsSubscriptionLocalizations *[]string
	limit *int32
	limitSubscriptionLocalizations *int32
	limitIntroductoryOffers *int32
	limitPromotionalOffers *int32
	limitOfferCodes *int32
	limitPrices *int32
	include *[]string
}

// filter by attribute &#39;name&#39;
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FilterName(filterName []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.filterName = &filterName
	return r
}

// filter by attribute &#39;productId&#39;
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FilterProductId(filterProductId []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.filterProductId = &filterProductId
	return r
}

// filter by attribute &#39;state&#39;
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FilterState(filterState []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.filterState = &filterState
	return r
}

// comma-separated list of sort expressions; resources will be sorted as specified
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) Sort(sort []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.sort = &sort
	return r
}

// the fields to include for returned resources of type promotedPurchases
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FieldsPromotedPurchases(fieldsPromotedPurchases []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.fieldsPromotedPurchases = &fieldsPromotedPurchases
	return r
}

// the fields to include for returned resources of type subscriptionPromotionalOffers
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FieldsSubscriptionPromotionalOffers(fieldsSubscriptionPromotionalOffers []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.fieldsSubscriptionPromotionalOffers = &fieldsSubscriptionPromotionalOffers
	return r
}

// the fields to include for returned resources of type subscriptionOfferCodes
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FieldsSubscriptionOfferCodes(fieldsSubscriptionOfferCodes []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.fieldsSubscriptionOfferCodes = &fieldsSubscriptionOfferCodes
	return r
}

// the fields to include for returned resources of type subscriptionAppStoreReviewScreenshots
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FieldsSubscriptionAppStoreReviewScreenshots(fieldsSubscriptionAppStoreReviewScreenshots []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.fieldsSubscriptionAppStoreReviewScreenshots = &fieldsSubscriptionAppStoreReviewScreenshots
	return r
}

// the fields to include for returned resources of type subscriptions
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FieldsSubscriptions(fieldsSubscriptions []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.fieldsSubscriptions = &fieldsSubscriptions
	return r
}

// the fields to include for returned resources of type subscriptionGroups
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FieldsSubscriptionGroups(fieldsSubscriptionGroups []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.fieldsSubscriptionGroups = &fieldsSubscriptionGroups
	return r
}

// the fields to include for returned resources of type subscriptionIntroductoryOffers
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FieldsSubscriptionIntroductoryOffers(fieldsSubscriptionIntroductoryOffers []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.fieldsSubscriptionIntroductoryOffers = &fieldsSubscriptionIntroductoryOffers
	return r
}

// the fields to include for returned resources of type subscriptionPrices
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FieldsSubscriptionPrices(fieldsSubscriptionPrices []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.fieldsSubscriptionPrices = &fieldsSubscriptionPrices
	return r
}

// the fields to include for returned resources of type subscriptionLocalizations
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) FieldsSubscriptionLocalizations(fieldsSubscriptionLocalizations []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.fieldsSubscriptionLocalizations = &fieldsSubscriptionLocalizations
	return r
}

// maximum resources per page
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) Limit(limit int32) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// maximum number of related subscriptionLocalizations returned (when they are included)
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) LimitSubscriptionLocalizations(limitSubscriptionLocalizations int32) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.limitSubscriptionLocalizations = &limitSubscriptionLocalizations
	return r
}

// maximum number of related introductoryOffers returned (when they are included)
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) LimitIntroductoryOffers(limitIntroductoryOffers int32) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.limitIntroductoryOffers = &limitIntroductoryOffers
	return r
}

// maximum number of related promotionalOffers returned (when they are included)
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) LimitPromotionalOffers(limitPromotionalOffers int32) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.limitPromotionalOffers = &limitPromotionalOffers
	return r
}

// maximum number of related offerCodes returned (when they are included)
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) LimitOfferCodes(limitOfferCodes int32) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.limitOfferCodes = &limitOfferCodes
	return r
}

// maximum number of related prices returned (when they are included)
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) LimitPrices(limitPrices int32) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.limitPrices = &limitPrices
	return r
}

// comma-separated list of relationships to include
func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) Include(include []string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) Execute() (*SubscriptionsResponse, *http.Response, error) {
	return r.ApiService.SubscriptionGroupsSubscriptionsGetToManyRelatedExecute(r)
}

/*
SubscriptionGroupsSubscriptionsGetToManyRelated Method for SubscriptionGroupsSubscriptionsGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest
*/
func (a *SubscriptionGroupsApiService) SubscriptionGroupsSubscriptionsGetToManyRelated(ctx context.Context, id string) SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest {
	return SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SubscriptionsResponse
func (a *SubscriptionGroupsApiService) SubscriptionGroupsSubscriptionsGetToManyRelatedExecute(r SubscriptionGroupsApiSubscriptionGroupsSubscriptionsGetToManyRelatedRequest) (*SubscriptionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SubscriptionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubscriptionGroupsApiService.SubscriptionGroupsSubscriptionsGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/subscriptionGroups/{id}/subscriptions"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[name]", r.filterName, "csv")
	}
	if r.filterProductId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[productId]", r.filterProductId, "csv")
	}
	if r.filterState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[state]", r.filterState, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.fieldsPromotedPurchases != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[promotedPurchases]", r.fieldsPromotedPurchases, "csv")
	}
	if r.fieldsSubscriptionPromotionalOffers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionPromotionalOffers]", r.fieldsSubscriptionPromotionalOffers, "csv")
	}
	if r.fieldsSubscriptionOfferCodes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionOfferCodes]", r.fieldsSubscriptionOfferCodes, "csv")
	}
	if r.fieldsSubscriptionAppStoreReviewScreenshots != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionAppStoreReviewScreenshots]", r.fieldsSubscriptionAppStoreReviewScreenshots, "csv")
	}
	if r.fieldsSubscriptions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptions]", r.fieldsSubscriptions, "csv")
	}
	if r.fieldsSubscriptionGroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionGroups]", r.fieldsSubscriptionGroups, "csv")
	}
	if r.fieldsSubscriptionIntroductoryOffers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionIntroductoryOffers]", r.fieldsSubscriptionIntroductoryOffers, "csv")
	}
	if r.fieldsSubscriptionPrices != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionPrices]", r.fieldsSubscriptionPrices, "csv")
	}
	if r.fieldsSubscriptionLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionLocalizations]", r.fieldsSubscriptionLocalizations, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.limitSubscriptionLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[subscriptionLocalizations]", r.limitSubscriptionLocalizations, "")
	}
	if r.limitIntroductoryOffers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[introductoryOffers]", r.limitIntroductoryOffers, "")
	}
	if r.limitPromotionalOffers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[promotionalOffers]", r.limitPromotionalOffers, "")
	}
	if r.limitOfferCodes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[offerCodes]", r.limitOfferCodes, "")
	}
	if r.limitPrices != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[prices]", r.limitPrices, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SubscriptionGroupsApiSubscriptionGroupsUpdateInstanceRequest struct {
	ctx context.Context
	ApiService *SubscriptionGroupsApiService
	id string
	subscriptionGroupUpdateRequest *SubscriptionGroupUpdateRequest
}

// SubscriptionGroup representation
func (r SubscriptionGroupsApiSubscriptionGroupsUpdateInstanceRequest) SubscriptionGroupUpdateRequest(subscriptionGroupUpdateRequest SubscriptionGroupUpdateRequest) SubscriptionGroupsApiSubscriptionGroupsUpdateInstanceRequest {
	r.subscriptionGroupUpdateRequest = &subscriptionGroupUpdateRequest
	return r
}

func (r SubscriptionGroupsApiSubscriptionGroupsUpdateInstanceRequest) Execute() (*SubscriptionGroupResponse, *http.Response, error) {
	return r.ApiService.SubscriptionGroupsUpdateInstanceExecute(r)
}

/*
SubscriptionGroupsUpdateInstance Method for SubscriptionGroupsUpdateInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return SubscriptionGroupsApiSubscriptionGroupsUpdateInstanceRequest
*/
func (a *SubscriptionGroupsApiService) SubscriptionGroupsUpdateInstance(ctx context.Context, id string) SubscriptionGroupsApiSubscriptionGroupsUpdateInstanceRequest {
	return SubscriptionGroupsApiSubscriptionGroupsUpdateInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SubscriptionGroupResponse
func (a *SubscriptionGroupsApiService) SubscriptionGroupsUpdateInstanceExecute(r SubscriptionGroupsApiSubscriptionGroupsUpdateInstanceRequest) (*SubscriptionGroupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SubscriptionGroupResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubscriptionGroupsApiService.SubscriptionGroupsUpdateInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/subscriptionGroups/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.subscriptionGroupUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("subscriptionGroupUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.subscriptionGroupUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
