/*
App Store Connect API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package appstoreopenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CiMacOsVersionsApiService CiMacOsVersionsApi service
type CiMacOsVersionsApiService service

type CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest struct {
	ctx context.Context
	ApiService *CiMacOsVersionsApiService
	fieldsCiMacOsVersions *[]string
	limit *int32
	include *[]string
	fieldsCiXcodeVersions *[]string
	limitXcodeVersions *int32
}

// the fields to include for returned resources of type ciMacOsVersions
func (r CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest) FieldsCiMacOsVersions(fieldsCiMacOsVersions []string) CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest {
	r.fieldsCiMacOsVersions = &fieldsCiMacOsVersions
	return r
}

// maximum resources per page
func (r CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest) Limit(limit int32) CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest) Include(include []string) CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type ciXcodeVersions
func (r CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest) FieldsCiXcodeVersions(fieldsCiXcodeVersions []string) CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest {
	r.fieldsCiXcodeVersions = &fieldsCiXcodeVersions
	return r
}

// maximum number of related xcodeVersions returned (when they are included)
func (r CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest) LimitXcodeVersions(limitXcodeVersions int32) CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest {
	r.limitXcodeVersions = &limitXcodeVersions
	return r
}

func (r CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest) Execute() (*CiMacOsVersionsResponse, *http.Response, error) {
	return r.ApiService.CiMacOsVersionsGetCollectionExecute(r)
}

/*
CiMacOsVersionsGetCollection Method for CiMacOsVersionsGetCollection

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest
*/
func (a *CiMacOsVersionsApiService) CiMacOsVersionsGetCollection(ctx context.Context) CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest {
	return CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CiMacOsVersionsResponse
func (a *CiMacOsVersionsApiService) CiMacOsVersionsGetCollectionExecute(r CiMacOsVersionsApiCiMacOsVersionsGetCollectionRequest) (*CiMacOsVersionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CiMacOsVersionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiMacOsVersionsApiService.CiMacOsVersionsGetCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciMacOsVersions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsCiMacOsVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciMacOsVersions]", r.fieldsCiMacOsVersions, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsCiXcodeVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciXcodeVersions]", r.fieldsCiXcodeVersions, "csv")
	}
	if r.limitXcodeVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[xcodeVersions]", r.limitXcodeVersions, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest struct {
	ctx context.Context
	ApiService *CiMacOsVersionsApiService
	id string
	fieldsCiMacOsVersions *[]string
	include *[]string
	fieldsCiXcodeVersions *[]string
	limitXcodeVersions *int32
}

// the fields to include for returned resources of type ciMacOsVersions
func (r CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest) FieldsCiMacOsVersions(fieldsCiMacOsVersions []string) CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest {
	r.fieldsCiMacOsVersions = &fieldsCiMacOsVersions
	return r
}

// comma-separated list of relationships to include
func (r CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest) Include(include []string) CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type ciXcodeVersions
func (r CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest) FieldsCiXcodeVersions(fieldsCiXcodeVersions []string) CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest {
	r.fieldsCiXcodeVersions = &fieldsCiXcodeVersions
	return r
}

// maximum number of related xcodeVersions returned (when they are included)
func (r CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest) LimitXcodeVersions(limitXcodeVersions int32) CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest {
	r.limitXcodeVersions = &limitXcodeVersions
	return r
}

func (r CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest) Execute() (*CiMacOsVersionResponse, *http.Response, error) {
	return r.ApiService.CiMacOsVersionsGetInstanceExecute(r)
}

/*
CiMacOsVersionsGetInstance Method for CiMacOsVersionsGetInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest
*/
func (a *CiMacOsVersionsApiService) CiMacOsVersionsGetInstance(ctx context.Context, id string) CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest {
	return CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CiMacOsVersionResponse
func (a *CiMacOsVersionsApiService) CiMacOsVersionsGetInstanceExecute(r CiMacOsVersionsApiCiMacOsVersionsGetInstanceRequest) (*CiMacOsVersionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CiMacOsVersionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiMacOsVersionsApiService.CiMacOsVersionsGetInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciMacOsVersions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsCiMacOsVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciMacOsVersions]", r.fieldsCiMacOsVersions, "csv")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsCiXcodeVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciXcodeVersions]", r.fieldsCiXcodeVersions, "csv")
	}
	if r.limitXcodeVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[xcodeVersions]", r.limitXcodeVersions, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *CiMacOsVersionsApiService
	id string
	fieldsCiXcodeVersions *[]string
	fieldsCiMacOsVersions *[]string
	limit *int32
	limitMacOsVersions *int32
	include *[]string
}

// the fields to include for returned resources of type ciXcodeVersions
func (r CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest) FieldsCiXcodeVersions(fieldsCiXcodeVersions []string) CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest {
	r.fieldsCiXcodeVersions = &fieldsCiXcodeVersions
	return r
}

// the fields to include for returned resources of type ciMacOsVersions
func (r CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest) FieldsCiMacOsVersions(fieldsCiMacOsVersions []string) CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest {
	r.fieldsCiMacOsVersions = &fieldsCiMacOsVersions
	return r
}

// maximum resources per page
func (r CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest) Limit(limit int32) CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// maximum number of related macOsVersions returned (when they are included)
func (r CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest) LimitMacOsVersions(limitMacOsVersions int32) CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest {
	r.limitMacOsVersions = &limitMacOsVersions
	return r
}

// comma-separated list of relationships to include
func (r CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest) Include(include []string) CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest) Execute() (*CiXcodeVersionsResponse, *http.Response, error) {
	return r.ApiService.CiMacOsVersionsXcodeVersionsGetToManyRelatedExecute(r)
}

/*
CiMacOsVersionsXcodeVersionsGetToManyRelated Method for CiMacOsVersionsXcodeVersionsGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest
*/
func (a *CiMacOsVersionsApiService) CiMacOsVersionsXcodeVersionsGetToManyRelated(ctx context.Context, id string) CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest {
	return CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CiXcodeVersionsResponse
func (a *CiMacOsVersionsApiService) CiMacOsVersionsXcodeVersionsGetToManyRelatedExecute(r CiMacOsVersionsApiCiMacOsVersionsXcodeVersionsGetToManyRelatedRequest) (*CiXcodeVersionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CiXcodeVersionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiMacOsVersionsApiService.CiMacOsVersionsXcodeVersionsGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciMacOsVersions/{id}/xcodeVersions"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsCiXcodeVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciXcodeVersions]", r.fieldsCiXcodeVersions, "csv")
	}
	if r.fieldsCiMacOsVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciMacOsVersions]", r.fieldsCiMacOsVersions, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.limitMacOsVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[macOsVersions]", r.limitMacOsVersions, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
