/*
App Store Connect API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package appstoreopenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CiProductsApiService CiProductsApi service
type CiProductsApiService service

type CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *CiProductsApiService
	id string
	filterId *[]string
	fieldsScmGitReferences *[]string
	fieldsScmProviders *[]string
	fieldsScmRepositories *[]string
	limit *int32
	include *[]string
}

// filter by id(s)
func (r CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest) FilterId(filterId []string) CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest {
	r.filterId = &filterId
	return r
}

// the fields to include for returned resources of type scmGitReferences
func (r CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest) FieldsScmGitReferences(fieldsScmGitReferences []string) CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest {
	r.fieldsScmGitReferences = &fieldsScmGitReferences
	return r
}

// the fields to include for returned resources of type scmProviders
func (r CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest) FieldsScmProviders(fieldsScmProviders []string) CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest {
	r.fieldsScmProviders = &fieldsScmProviders
	return r
}

// the fields to include for returned resources of type scmRepositories
func (r CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest) FieldsScmRepositories(fieldsScmRepositories []string) CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest {
	r.fieldsScmRepositories = &fieldsScmRepositories
	return r
}

// maximum resources per page
func (r CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest) Limit(limit int32) CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest) Include(include []string) CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest) Execute() (*ScmRepositoriesResponse, *http.Response, error) {
	return r.ApiService.CiProductsAdditionalRepositoriesGetToManyRelatedExecute(r)
}

/*
CiProductsAdditionalRepositoriesGetToManyRelated Method for CiProductsAdditionalRepositoriesGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest
*/
func (a *CiProductsApiService) CiProductsAdditionalRepositoriesGetToManyRelated(ctx context.Context, id string) CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest {
	return CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ScmRepositoriesResponse
func (a *CiProductsApiService) CiProductsAdditionalRepositoriesGetToManyRelatedExecute(r CiProductsApiCiProductsAdditionalRepositoriesGetToManyRelatedRequest) (*ScmRepositoriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ScmRepositoriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiProductsApiService.CiProductsAdditionalRepositoriesGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciProducts/{id}/additionalRepositories"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[id]", r.filterId, "csv")
	}
	if r.fieldsScmGitReferences != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[scmGitReferences]", r.fieldsScmGitReferences, "csv")
	}
	if r.fieldsScmProviders != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[scmProviders]", r.fieldsScmProviders, "csv")
	}
	if r.fieldsScmRepositories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[scmRepositories]", r.fieldsScmRepositories, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CiProductsApiCiProductsAppGetToOneRelatedRequest struct {
	ctx context.Context
	ApiService *CiProductsApiService
	id string
	fieldsBetaLicenseAgreements *[]string
	fieldsBetaAppReviewDetails *[]string
	fieldsAppClips *[]string
	fieldsBetaAppLocalizations *[]string
	fieldsAppInfos *[]string
	fieldsPreReleaseVersions *[]string
	fieldsInAppPurchases *[]string
	fieldsCiProducts *[]string
	fieldsInAppPurchases2 *[]string
	fieldsSubscriptionGroups *[]string
	fieldsReviewSubmissions *[]string
	fieldsBetaGroups *[]string
	fieldsAppPreOrders *[]string
	fieldsAppPrices *[]string
	fieldsGameCenterEnabledVersions *[]string
	fieldsSubscriptionGracePeriods *[]string
	fieldsPromotedPurchases *[]string
	fieldsEndUserLicenseAgreements *[]string
	fieldsAppStoreVersions *[]string
	fieldsAppCustomProductPages *[]string
	fieldsApps *[]string
	fieldsAppEvents *[]string
	fieldsTerritories *[]string
	fieldsBuilds *[]string
	limitBetaGroups *int32
	limitAppStoreVersions *int32
	limitPreReleaseVersions *int32
	limitBetaAppLocalizations *int32
	limitBuilds *int32
	limitAppInfos *int32
	limitAppClips *int32
	limitPrices *int32
	limitAvailableTerritories *int32
	limitInAppPurchases *int32
	limitSubscriptionGroups *int32
	limitGameCenterEnabledVersions *int32
	limitAppCustomProductPages *int32
	limitInAppPurchasesV2 *int32
	limitPromotedPurchases *int32
	limitAppEvents *int32
	limitReviewSubmissions *int32
	include *[]string
}

// the fields to include for returned resources of type betaLicenseAgreements
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsBetaLicenseAgreements(fieldsBetaLicenseAgreements []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsBetaLicenseAgreements = &fieldsBetaLicenseAgreements
	return r
}

// the fields to include for returned resources of type betaAppReviewDetails
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsBetaAppReviewDetails(fieldsBetaAppReviewDetails []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsBetaAppReviewDetails = &fieldsBetaAppReviewDetails
	return r
}

// the fields to include for returned resources of type appClips
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsAppClips(fieldsAppClips []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsAppClips = &fieldsAppClips
	return r
}

// the fields to include for returned resources of type betaAppLocalizations
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsBetaAppLocalizations(fieldsBetaAppLocalizations []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsBetaAppLocalizations = &fieldsBetaAppLocalizations
	return r
}

// the fields to include for returned resources of type appInfos
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsAppInfos(fieldsAppInfos []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsAppInfos = &fieldsAppInfos
	return r
}

// the fields to include for returned resources of type preReleaseVersions
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsPreReleaseVersions(fieldsPreReleaseVersions []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsPreReleaseVersions = &fieldsPreReleaseVersions
	return r
}

// the fields to include for returned resources of type inAppPurchases
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsInAppPurchases(fieldsInAppPurchases []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsInAppPurchases = &fieldsInAppPurchases
	return r
}

// the fields to include for returned resources of type ciProducts
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsCiProducts(fieldsCiProducts []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsCiProducts = &fieldsCiProducts
	return r
}

// the fields to include for returned resources of type inAppPurchases
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsInAppPurchases2(fieldsInAppPurchases2 []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsInAppPurchases2 = &fieldsInAppPurchases2
	return r
}

// the fields to include for returned resources of type subscriptionGroups
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsSubscriptionGroups(fieldsSubscriptionGroups []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsSubscriptionGroups = &fieldsSubscriptionGroups
	return r
}

// the fields to include for returned resources of type reviewSubmissions
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsReviewSubmissions(fieldsReviewSubmissions []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsReviewSubmissions = &fieldsReviewSubmissions
	return r
}

// the fields to include for returned resources of type betaGroups
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsBetaGroups(fieldsBetaGroups []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsBetaGroups = &fieldsBetaGroups
	return r
}

// the fields to include for returned resources of type appPreOrders
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsAppPreOrders(fieldsAppPreOrders []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsAppPreOrders = &fieldsAppPreOrders
	return r
}

// the fields to include for returned resources of type appPrices
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsAppPrices(fieldsAppPrices []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsAppPrices = &fieldsAppPrices
	return r
}

// the fields to include for returned resources of type gameCenterEnabledVersions
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsGameCenterEnabledVersions(fieldsGameCenterEnabledVersions []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsGameCenterEnabledVersions = &fieldsGameCenterEnabledVersions
	return r
}

// the fields to include for returned resources of type subscriptionGracePeriods
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsSubscriptionGracePeriods(fieldsSubscriptionGracePeriods []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsSubscriptionGracePeriods = &fieldsSubscriptionGracePeriods
	return r
}

// the fields to include for returned resources of type promotedPurchases
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsPromotedPurchases(fieldsPromotedPurchases []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsPromotedPurchases = &fieldsPromotedPurchases
	return r
}

// the fields to include for returned resources of type endUserLicenseAgreements
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsEndUserLicenseAgreements(fieldsEndUserLicenseAgreements []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsEndUserLicenseAgreements = &fieldsEndUserLicenseAgreements
	return r
}

// the fields to include for returned resources of type appStoreVersions
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsAppStoreVersions(fieldsAppStoreVersions []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsAppStoreVersions = &fieldsAppStoreVersions
	return r
}

// the fields to include for returned resources of type appCustomProductPages
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsAppCustomProductPages(fieldsAppCustomProductPages []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsAppCustomProductPages = &fieldsAppCustomProductPages
	return r
}

// the fields to include for returned resources of type apps
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsApps(fieldsApps []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsApps = &fieldsApps
	return r
}

// the fields to include for returned resources of type appEvents
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsAppEvents(fieldsAppEvents []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsAppEvents = &fieldsAppEvents
	return r
}

// the fields to include for returned resources of type territories
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsTerritories(fieldsTerritories []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsTerritories = &fieldsTerritories
	return r
}

// the fields to include for returned resources of type builds
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) FieldsBuilds(fieldsBuilds []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.fieldsBuilds = &fieldsBuilds
	return r
}

// maximum number of related betaGroups returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitBetaGroups(limitBetaGroups int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitBetaGroups = &limitBetaGroups
	return r
}

// maximum number of related appStoreVersions returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitAppStoreVersions(limitAppStoreVersions int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitAppStoreVersions = &limitAppStoreVersions
	return r
}

// maximum number of related preReleaseVersions returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitPreReleaseVersions(limitPreReleaseVersions int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitPreReleaseVersions = &limitPreReleaseVersions
	return r
}

// maximum number of related betaAppLocalizations returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitBetaAppLocalizations(limitBetaAppLocalizations int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitBetaAppLocalizations = &limitBetaAppLocalizations
	return r
}

// maximum number of related builds returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitBuilds(limitBuilds int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitBuilds = &limitBuilds
	return r
}

// maximum number of related appInfos returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitAppInfos(limitAppInfos int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitAppInfos = &limitAppInfos
	return r
}

// maximum number of related appClips returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitAppClips(limitAppClips int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitAppClips = &limitAppClips
	return r
}

// maximum number of related prices returned (when they are included)
// Deprecated
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitPrices(limitPrices int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitPrices = &limitPrices
	return r
}

// maximum number of related availableTerritories returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitAvailableTerritories(limitAvailableTerritories int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitAvailableTerritories = &limitAvailableTerritories
	return r
}

// maximum number of related inAppPurchases returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitInAppPurchases(limitInAppPurchases int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitInAppPurchases = &limitInAppPurchases
	return r
}

// maximum number of related subscriptionGroups returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitSubscriptionGroups(limitSubscriptionGroups int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitSubscriptionGroups = &limitSubscriptionGroups
	return r
}

// maximum number of related gameCenterEnabledVersions returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitGameCenterEnabledVersions(limitGameCenterEnabledVersions int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitGameCenterEnabledVersions = &limitGameCenterEnabledVersions
	return r
}

// maximum number of related appCustomProductPages returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitAppCustomProductPages(limitAppCustomProductPages int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitAppCustomProductPages = &limitAppCustomProductPages
	return r
}

// maximum number of related inAppPurchasesV2 returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitInAppPurchasesV2(limitInAppPurchasesV2 int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitInAppPurchasesV2 = &limitInAppPurchasesV2
	return r
}

// maximum number of related promotedPurchases returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitPromotedPurchases(limitPromotedPurchases int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitPromotedPurchases = &limitPromotedPurchases
	return r
}

// maximum number of related appEvents returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitAppEvents(limitAppEvents int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitAppEvents = &limitAppEvents
	return r
}

// maximum number of related reviewSubmissions returned (when they are included)
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) LimitReviewSubmissions(limitReviewSubmissions int32) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.limitReviewSubmissions = &limitReviewSubmissions
	return r
}

// comma-separated list of relationships to include
func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) Include(include []string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	r.include = &include
	return r
}

func (r CiProductsApiCiProductsAppGetToOneRelatedRequest) Execute() (*AppResponse, *http.Response, error) {
	return r.ApiService.CiProductsAppGetToOneRelatedExecute(r)
}

/*
CiProductsAppGetToOneRelated Method for CiProductsAppGetToOneRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return CiProductsApiCiProductsAppGetToOneRelatedRequest
*/
func (a *CiProductsApiService) CiProductsAppGetToOneRelated(ctx context.Context, id string) CiProductsApiCiProductsAppGetToOneRelatedRequest {
	return CiProductsApiCiProductsAppGetToOneRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppResponse
func (a *CiProductsApiService) CiProductsAppGetToOneRelatedExecute(r CiProductsApiCiProductsAppGetToOneRelatedRequest) (*AppResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiProductsApiService.CiProductsAppGetToOneRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciProducts/{id}/app"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsBetaLicenseAgreements != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[betaLicenseAgreements]", r.fieldsBetaLicenseAgreements, "csv")
	}
	if r.fieldsBetaAppReviewDetails != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[betaAppReviewDetails]", r.fieldsBetaAppReviewDetails, "csv")
	}
	if r.fieldsAppClips != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appClips]", r.fieldsAppClips, "csv")
	}
	if r.fieldsBetaAppLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[betaAppLocalizations]", r.fieldsBetaAppLocalizations, "csv")
	}
	if r.fieldsAppInfos != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appInfos]", r.fieldsAppInfos, "csv")
	}
	if r.fieldsPreReleaseVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[preReleaseVersions]", r.fieldsPreReleaseVersions, "csv")
	}
	if r.fieldsInAppPurchases != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[inAppPurchases]", r.fieldsInAppPurchases, "csv")
	}
	if r.fieldsCiProducts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciProducts]", r.fieldsCiProducts, "csv")
	}
	if r.fieldsInAppPurchases2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[inAppPurchases]", r.fieldsInAppPurchases2, "csv")
	}
	if r.fieldsSubscriptionGroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionGroups]", r.fieldsSubscriptionGroups, "csv")
	}
	if r.fieldsReviewSubmissions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[reviewSubmissions]", r.fieldsReviewSubmissions, "csv")
	}
	if r.fieldsBetaGroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[betaGroups]", r.fieldsBetaGroups, "csv")
	}
	if r.fieldsAppPreOrders != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPreOrders]", r.fieldsAppPreOrders, "csv")
	}
	if r.fieldsAppPrices != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPrices]", r.fieldsAppPrices, "csv")
	}
	if r.fieldsGameCenterEnabledVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterEnabledVersions]", r.fieldsGameCenterEnabledVersions, "csv")
	}
	if r.fieldsSubscriptionGracePeriods != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[subscriptionGracePeriods]", r.fieldsSubscriptionGracePeriods, "csv")
	}
	if r.fieldsPromotedPurchases != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[promotedPurchases]", r.fieldsPromotedPurchases, "csv")
	}
	if r.fieldsEndUserLicenseAgreements != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[endUserLicenseAgreements]", r.fieldsEndUserLicenseAgreements, "csv")
	}
	if r.fieldsAppStoreVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appStoreVersions]", r.fieldsAppStoreVersions, "csv")
	}
	if r.fieldsAppCustomProductPages != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appCustomProductPages]", r.fieldsAppCustomProductPages, "csv")
	}
	if r.fieldsApps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[apps]", r.fieldsApps, "csv")
	}
	if r.fieldsAppEvents != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appEvents]", r.fieldsAppEvents, "csv")
	}
	if r.fieldsTerritories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[territories]", r.fieldsTerritories, "csv")
	}
	if r.fieldsBuilds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[builds]", r.fieldsBuilds, "csv")
	}
	if r.limitBetaGroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[betaGroups]", r.limitBetaGroups, "")
	}
	if r.limitAppStoreVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appStoreVersions]", r.limitAppStoreVersions, "")
	}
	if r.limitPreReleaseVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[preReleaseVersions]", r.limitPreReleaseVersions, "")
	}
	if r.limitBetaAppLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[betaAppLocalizations]", r.limitBetaAppLocalizations, "")
	}
	if r.limitBuilds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[builds]", r.limitBuilds, "")
	}
	if r.limitAppInfos != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appInfos]", r.limitAppInfos, "")
	}
	if r.limitAppClips != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appClips]", r.limitAppClips, "")
	}
	if r.limitPrices != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[prices]", r.limitPrices, "")
	}
	if r.limitAvailableTerritories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[availableTerritories]", r.limitAvailableTerritories, "")
	}
	if r.limitInAppPurchases != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[inAppPurchases]", r.limitInAppPurchases, "")
	}
	if r.limitSubscriptionGroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[subscriptionGroups]", r.limitSubscriptionGroups, "")
	}
	if r.limitGameCenterEnabledVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[gameCenterEnabledVersions]", r.limitGameCenterEnabledVersions, "")
	}
	if r.limitAppCustomProductPages != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appCustomProductPages]", r.limitAppCustomProductPages, "")
	}
	if r.limitInAppPurchasesV2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[inAppPurchasesV2]", r.limitInAppPurchasesV2, "")
	}
	if r.limitPromotedPurchases != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[promotedPurchases]", r.limitPromotedPurchases, "")
	}
	if r.limitAppEvents != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appEvents]", r.limitAppEvents, "")
	}
	if r.limitReviewSubmissions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[reviewSubmissions]", r.limitReviewSubmissions, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *CiProductsApiService
	id string
	filterBuilds *[]string
	fieldsScmGitReferences *[]string
	fieldsCiBuildRuns *[]string
	fieldsCiWorkflows *[]string
	fieldsScmPullRequests *[]string
	fieldsCiProducts *[]string
	fieldsBuilds *[]string
	limit *int32
	limitBuilds *int32
	include *[]string
}

// filter by id(s) of related &#39;builds&#39;
func (r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) FilterBuilds(filterBuilds []string) CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest {
	r.filterBuilds = &filterBuilds
	return r
}

// the fields to include for returned resources of type scmGitReferences
func (r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) FieldsScmGitReferences(fieldsScmGitReferences []string) CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest {
	r.fieldsScmGitReferences = &fieldsScmGitReferences
	return r
}

// the fields to include for returned resources of type ciBuildRuns
func (r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) FieldsCiBuildRuns(fieldsCiBuildRuns []string) CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest {
	r.fieldsCiBuildRuns = &fieldsCiBuildRuns
	return r
}

// the fields to include for returned resources of type ciWorkflows
func (r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) FieldsCiWorkflows(fieldsCiWorkflows []string) CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest {
	r.fieldsCiWorkflows = &fieldsCiWorkflows
	return r
}

// the fields to include for returned resources of type scmPullRequests
func (r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) FieldsScmPullRequests(fieldsScmPullRequests []string) CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest {
	r.fieldsScmPullRequests = &fieldsScmPullRequests
	return r
}

// the fields to include for returned resources of type ciProducts
func (r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) FieldsCiProducts(fieldsCiProducts []string) CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest {
	r.fieldsCiProducts = &fieldsCiProducts
	return r
}

// the fields to include for returned resources of type builds
func (r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) FieldsBuilds(fieldsBuilds []string) CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest {
	r.fieldsBuilds = &fieldsBuilds
	return r
}

// maximum resources per page
func (r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) Limit(limit int32) CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// maximum number of related builds returned (when they are included)
func (r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) LimitBuilds(limitBuilds int32) CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest {
	r.limitBuilds = &limitBuilds
	return r
}

// comma-separated list of relationships to include
func (r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) Include(include []string) CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) Execute() (*CiBuildRunsResponse, *http.Response, error) {
	return r.ApiService.CiProductsBuildRunsGetToManyRelatedExecute(r)
}

/*
CiProductsBuildRunsGetToManyRelated Method for CiProductsBuildRunsGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest
*/
func (a *CiProductsApiService) CiProductsBuildRunsGetToManyRelated(ctx context.Context, id string) CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest {
	return CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CiBuildRunsResponse
func (a *CiProductsApiService) CiProductsBuildRunsGetToManyRelatedExecute(r CiProductsApiCiProductsBuildRunsGetToManyRelatedRequest) (*CiBuildRunsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CiBuildRunsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiProductsApiService.CiProductsBuildRunsGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciProducts/{id}/buildRuns"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterBuilds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[builds]", r.filterBuilds, "csv")
	}
	if r.fieldsScmGitReferences != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[scmGitReferences]", r.fieldsScmGitReferences, "csv")
	}
	if r.fieldsCiBuildRuns != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciBuildRuns]", r.fieldsCiBuildRuns, "csv")
	}
	if r.fieldsCiWorkflows != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciWorkflows]", r.fieldsCiWorkflows, "csv")
	}
	if r.fieldsScmPullRequests != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[scmPullRequests]", r.fieldsScmPullRequests, "csv")
	}
	if r.fieldsCiProducts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciProducts]", r.fieldsCiProducts, "csv")
	}
	if r.fieldsBuilds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[builds]", r.fieldsBuilds, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.limitBuilds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[builds]", r.limitBuilds, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CiProductsApiCiProductsDeleteInstanceRequest struct {
	ctx context.Context
	ApiService *CiProductsApiService
	id string
}

func (r CiProductsApiCiProductsDeleteInstanceRequest) Execute() (*http.Response, error) {
	return r.ApiService.CiProductsDeleteInstanceExecute(r)
}

/*
CiProductsDeleteInstance Method for CiProductsDeleteInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return CiProductsApiCiProductsDeleteInstanceRequest
*/
func (a *CiProductsApiService) CiProductsDeleteInstance(ctx context.Context, id string) CiProductsApiCiProductsDeleteInstanceRequest {
	return CiProductsApiCiProductsDeleteInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *CiProductsApiService) CiProductsDeleteInstanceExecute(r CiProductsApiCiProductsDeleteInstanceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiProductsApiService.CiProductsDeleteInstance")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciProducts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CiProductsApiCiProductsGetCollectionRequest struct {
	ctx context.Context
	ApiService *CiProductsApiService
	filterProductType *[]string
	filterApp *[]string
	fieldsCiProducts *[]string
	limit *int32
	include *[]string
	fieldsCiBuildRuns *[]string
	fieldsCiWorkflows *[]string
	fieldsApps *[]string
	fieldsScmRepositories *[]string
	limitPrimaryRepositories *int32
}

// filter by attribute &#39;productType&#39;
func (r CiProductsApiCiProductsGetCollectionRequest) FilterProductType(filterProductType []string) CiProductsApiCiProductsGetCollectionRequest {
	r.filterProductType = &filterProductType
	return r
}

// filter by id(s) of related &#39;app&#39;
func (r CiProductsApiCiProductsGetCollectionRequest) FilterApp(filterApp []string) CiProductsApiCiProductsGetCollectionRequest {
	r.filterApp = &filterApp
	return r
}

// the fields to include for returned resources of type ciProducts
func (r CiProductsApiCiProductsGetCollectionRequest) FieldsCiProducts(fieldsCiProducts []string) CiProductsApiCiProductsGetCollectionRequest {
	r.fieldsCiProducts = &fieldsCiProducts
	return r
}

// maximum resources per page
func (r CiProductsApiCiProductsGetCollectionRequest) Limit(limit int32) CiProductsApiCiProductsGetCollectionRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r CiProductsApiCiProductsGetCollectionRequest) Include(include []string) CiProductsApiCiProductsGetCollectionRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type ciBuildRuns
func (r CiProductsApiCiProductsGetCollectionRequest) FieldsCiBuildRuns(fieldsCiBuildRuns []string) CiProductsApiCiProductsGetCollectionRequest {
	r.fieldsCiBuildRuns = &fieldsCiBuildRuns
	return r
}

// the fields to include for returned resources of type ciWorkflows
func (r CiProductsApiCiProductsGetCollectionRequest) FieldsCiWorkflows(fieldsCiWorkflows []string) CiProductsApiCiProductsGetCollectionRequest {
	r.fieldsCiWorkflows = &fieldsCiWorkflows
	return r
}

// the fields to include for returned resources of type apps
func (r CiProductsApiCiProductsGetCollectionRequest) FieldsApps(fieldsApps []string) CiProductsApiCiProductsGetCollectionRequest {
	r.fieldsApps = &fieldsApps
	return r
}

// the fields to include for returned resources of type scmRepositories
func (r CiProductsApiCiProductsGetCollectionRequest) FieldsScmRepositories(fieldsScmRepositories []string) CiProductsApiCiProductsGetCollectionRequest {
	r.fieldsScmRepositories = &fieldsScmRepositories
	return r
}

// maximum number of related primaryRepositories returned (when they are included)
func (r CiProductsApiCiProductsGetCollectionRequest) LimitPrimaryRepositories(limitPrimaryRepositories int32) CiProductsApiCiProductsGetCollectionRequest {
	r.limitPrimaryRepositories = &limitPrimaryRepositories
	return r
}

func (r CiProductsApiCiProductsGetCollectionRequest) Execute() (*CiProductsResponse, *http.Response, error) {
	return r.ApiService.CiProductsGetCollectionExecute(r)
}

/*
CiProductsGetCollection Method for CiProductsGetCollection

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CiProductsApiCiProductsGetCollectionRequest
*/
func (a *CiProductsApiService) CiProductsGetCollection(ctx context.Context) CiProductsApiCiProductsGetCollectionRequest {
	return CiProductsApiCiProductsGetCollectionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CiProductsResponse
func (a *CiProductsApiService) CiProductsGetCollectionExecute(r CiProductsApiCiProductsGetCollectionRequest) (*CiProductsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CiProductsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiProductsApiService.CiProductsGetCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciProducts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterProductType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[productType]", r.filterProductType, "csv")
	}
	if r.filterApp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[app]", r.filterApp, "csv")
	}
	if r.fieldsCiProducts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciProducts]", r.fieldsCiProducts, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsCiBuildRuns != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciBuildRuns]", r.fieldsCiBuildRuns, "csv")
	}
	if r.fieldsCiWorkflows != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciWorkflows]", r.fieldsCiWorkflows, "csv")
	}
	if r.fieldsApps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[apps]", r.fieldsApps, "csv")
	}
	if r.fieldsScmRepositories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[scmRepositories]", r.fieldsScmRepositories, "csv")
	}
	if r.limitPrimaryRepositories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[primaryRepositories]", r.limitPrimaryRepositories, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CiProductsApiCiProductsGetInstanceRequest struct {
	ctx context.Context
	ApiService *CiProductsApiService
	id string
	fieldsCiProducts *[]string
	include *[]string
	fieldsCiBuildRuns *[]string
	fieldsCiWorkflows *[]string
	fieldsApps *[]string
	fieldsScmRepositories *[]string
	limitPrimaryRepositories *int32
}

// the fields to include for returned resources of type ciProducts
func (r CiProductsApiCiProductsGetInstanceRequest) FieldsCiProducts(fieldsCiProducts []string) CiProductsApiCiProductsGetInstanceRequest {
	r.fieldsCiProducts = &fieldsCiProducts
	return r
}

// comma-separated list of relationships to include
func (r CiProductsApiCiProductsGetInstanceRequest) Include(include []string) CiProductsApiCiProductsGetInstanceRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type ciBuildRuns
func (r CiProductsApiCiProductsGetInstanceRequest) FieldsCiBuildRuns(fieldsCiBuildRuns []string) CiProductsApiCiProductsGetInstanceRequest {
	r.fieldsCiBuildRuns = &fieldsCiBuildRuns
	return r
}

// the fields to include for returned resources of type ciWorkflows
func (r CiProductsApiCiProductsGetInstanceRequest) FieldsCiWorkflows(fieldsCiWorkflows []string) CiProductsApiCiProductsGetInstanceRequest {
	r.fieldsCiWorkflows = &fieldsCiWorkflows
	return r
}

// the fields to include for returned resources of type apps
func (r CiProductsApiCiProductsGetInstanceRequest) FieldsApps(fieldsApps []string) CiProductsApiCiProductsGetInstanceRequest {
	r.fieldsApps = &fieldsApps
	return r
}

// the fields to include for returned resources of type scmRepositories
func (r CiProductsApiCiProductsGetInstanceRequest) FieldsScmRepositories(fieldsScmRepositories []string) CiProductsApiCiProductsGetInstanceRequest {
	r.fieldsScmRepositories = &fieldsScmRepositories
	return r
}

// maximum number of related primaryRepositories returned (when they are included)
func (r CiProductsApiCiProductsGetInstanceRequest) LimitPrimaryRepositories(limitPrimaryRepositories int32) CiProductsApiCiProductsGetInstanceRequest {
	r.limitPrimaryRepositories = &limitPrimaryRepositories
	return r
}

func (r CiProductsApiCiProductsGetInstanceRequest) Execute() (*CiProductResponse, *http.Response, error) {
	return r.ApiService.CiProductsGetInstanceExecute(r)
}

/*
CiProductsGetInstance Method for CiProductsGetInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return CiProductsApiCiProductsGetInstanceRequest
*/
func (a *CiProductsApiService) CiProductsGetInstance(ctx context.Context, id string) CiProductsApiCiProductsGetInstanceRequest {
	return CiProductsApiCiProductsGetInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CiProductResponse
func (a *CiProductsApiService) CiProductsGetInstanceExecute(r CiProductsApiCiProductsGetInstanceRequest) (*CiProductResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CiProductResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiProductsApiService.CiProductsGetInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciProducts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsCiProducts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciProducts]", r.fieldsCiProducts, "csv")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsCiBuildRuns != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciBuildRuns]", r.fieldsCiBuildRuns, "csv")
	}
	if r.fieldsCiWorkflows != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciWorkflows]", r.fieldsCiWorkflows, "csv")
	}
	if r.fieldsApps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[apps]", r.fieldsApps, "csv")
	}
	if r.fieldsScmRepositories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[scmRepositories]", r.fieldsScmRepositories, "csv")
	}
	if r.limitPrimaryRepositories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[primaryRepositories]", r.limitPrimaryRepositories, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *CiProductsApiService
	id string
	filterId *[]string
	fieldsScmGitReferences *[]string
	fieldsScmProviders *[]string
	fieldsScmRepositories *[]string
	limit *int32
	include *[]string
}

// filter by id(s)
func (r CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest) FilterId(filterId []string) CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest {
	r.filterId = &filterId
	return r
}

// the fields to include for returned resources of type scmGitReferences
func (r CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest) FieldsScmGitReferences(fieldsScmGitReferences []string) CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest {
	r.fieldsScmGitReferences = &fieldsScmGitReferences
	return r
}

// the fields to include for returned resources of type scmProviders
func (r CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest) FieldsScmProviders(fieldsScmProviders []string) CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest {
	r.fieldsScmProviders = &fieldsScmProviders
	return r
}

// the fields to include for returned resources of type scmRepositories
func (r CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest) FieldsScmRepositories(fieldsScmRepositories []string) CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest {
	r.fieldsScmRepositories = &fieldsScmRepositories
	return r
}

// maximum resources per page
func (r CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest) Limit(limit int32) CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest) Include(include []string) CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest) Execute() (*ScmRepositoriesResponse, *http.Response, error) {
	return r.ApiService.CiProductsPrimaryRepositoriesGetToManyRelatedExecute(r)
}

/*
CiProductsPrimaryRepositoriesGetToManyRelated Method for CiProductsPrimaryRepositoriesGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest
*/
func (a *CiProductsApiService) CiProductsPrimaryRepositoriesGetToManyRelated(ctx context.Context, id string) CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest {
	return CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ScmRepositoriesResponse
func (a *CiProductsApiService) CiProductsPrimaryRepositoriesGetToManyRelatedExecute(r CiProductsApiCiProductsPrimaryRepositoriesGetToManyRelatedRequest) (*ScmRepositoriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ScmRepositoriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiProductsApiService.CiProductsPrimaryRepositoriesGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciProducts/{id}/primaryRepositories"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[id]", r.filterId, "csv")
	}
	if r.fieldsScmGitReferences != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[scmGitReferences]", r.fieldsScmGitReferences, "csv")
	}
	if r.fieldsScmProviders != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[scmProviders]", r.fieldsScmProviders, "csv")
	}
	if r.fieldsScmRepositories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[scmRepositories]", r.fieldsScmRepositories, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *CiProductsApiService
	id string
	fieldsCiXcodeVersions *[]string
	fieldsCiWorkflows *[]string
	fieldsCiMacOsVersions *[]string
	fieldsCiProducts *[]string
	fieldsScmRepositories *[]string
	limit *int32
	include *[]string
}

// the fields to include for returned resources of type ciXcodeVersions
func (r CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest) FieldsCiXcodeVersions(fieldsCiXcodeVersions []string) CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest {
	r.fieldsCiXcodeVersions = &fieldsCiXcodeVersions
	return r
}

// the fields to include for returned resources of type ciWorkflows
func (r CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest) FieldsCiWorkflows(fieldsCiWorkflows []string) CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest {
	r.fieldsCiWorkflows = &fieldsCiWorkflows
	return r
}

// the fields to include for returned resources of type ciMacOsVersions
func (r CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest) FieldsCiMacOsVersions(fieldsCiMacOsVersions []string) CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest {
	r.fieldsCiMacOsVersions = &fieldsCiMacOsVersions
	return r
}

// the fields to include for returned resources of type ciProducts
func (r CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest) FieldsCiProducts(fieldsCiProducts []string) CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest {
	r.fieldsCiProducts = &fieldsCiProducts
	return r
}

// the fields to include for returned resources of type scmRepositories
func (r CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest) FieldsScmRepositories(fieldsScmRepositories []string) CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest {
	r.fieldsScmRepositories = &fieldsScmRepositories
	return r
}

// maximum resources per page
func (r CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest) Limit(limit int32) CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest) Include(include []string) CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest) Execute() (*CiWorkflowsResponse, *http.Response, error) {
	return r.ApiService.CiProductsWorkflowsGetToManyRelatedExecute(r)
}

/*
CiProductsWorkflowsGetToManyRelated Method for CiProductsWorkflowsGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest
*/
func (a *CiProductsApiService) CiProductsWorkflowsGetToManyRelated(ctx context.Context, id string) CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest {
	return CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CiWorkflowsResponse
func (a *CiProductsApiService) CiProductsWorkflowsGetToManyRelatedExecute(r CiProductsApiCiProductsWorkflowsGetToManyRelatedRequest) (*CiWorkflowsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CiWorkflowsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CiProductsApiService.CiProductsWorkflowsGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ciProducts/{id}/workflows"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsCiXcodeVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciXcodeVersions]", r.fieldsCiXcodeVersions, "csv")
	}
	if r.fieldsCiWorkflows != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciWorkflows]", r.fieldsCiWorkflows, "csv")
	}
	if r.fieldsCiMacOsVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciMacOsVersions]", r.fieldsCiMacOsVersions, "csv")
	}
	if r.fieldsCiProducts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[ciProducts]", r.fieldsCiProducts, "csv")
	}
	if r.fieldsScmRepositories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[scmRepositories]", r.fieldsScmRepositories, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
