/*
App Store Connect API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package appstoreopenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BuildBundlesApiService BuildBundlesApi service
type BuildBundlesApiService service

type BuildBundlesApiBuildBundlesAppClipDomainCacheStatusGetToOneRelatedRequest struct {
	ctx context.Context
	ApiService *BuildBundlesApiService
	id string
	fieldsAppClipDomainStatuses *[]string
}

// the fields to include for returned resources of type appClipDomainStatuses
func (r BuildBundlesApiBuildBundlesAppClipDomainCacheStatusGetToOneRelatedRequest) FieldsAppClipDomainStatuses(fieldsAppClipDomainStatuses []string) BuildBundlesApiBuildBundlesAppClipDomainCacheStatusGetToOneRelatedRequest {
	r.fieldsAppClipDomainStatuses = &fieldsAppClipDomainStatuses
	return r
}

func (r BuildBundlesApiBuildBundlesAppClipDomainCacheStatusGetToOneRelatedRequest) Execute() (*AppClipDomainStatusResponse, *http.Response, error) {
	return r.ApiService.BuildBundlesAppClipDomainCacheStatusGetToOneRelatedExecute(r)
}

/*
BuildBundlesAppClipDomainCacheStatusGetToOneRelated Method for BuildBundlesAppClipDomainCacheStatusGetToOneRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return BuildBundlesApiBuildBundlesAppClipDomainCacheStatusGetToOneRelatedRequest
*/
func (a *BuildBundlesApiService) BuildBundlesAppClipDomainCacheStatusGetToOneRelated(ctx context.Context, id string) BuildBundlesApiBuildBundlesAppClipDomainCacheStatusGetToOneRelatedRequest {
	return BuildBundlesApiBuildBundlesAppClipDomainCacheStatusGetToOneRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppClipDomainStatusResponse
func (a *BuildBundlesApiService) BuildBundlesAppClipDomainCacheStatusGetToOneRelatedExecute(r BuildBundlesApiBuildBundlesAppClipDomainCacheStatusGetToOneRelatedRequest) (*AppClipDomainStatusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppClipDomainStatusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BuildBundlesApiService.BuildBundlesAppClipDomainCacheStatusGetToOneRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/buildBundles/{id}/appClipDomainCacheStatus"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsAppClipDomainStatuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appClipDomainStatuses]", r.fieldsAppClipDomainStatuses, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BuildBundlesApiBuildBundlesAppClipDomainDebugStatusGetToOneRelatedRequest struct {
	ctx context.Context
	ApiService *BuildBundlesApiService
	id string
	fieldsAppClipDomainStatuses *[]string
}

// the fields to include for returned resources of type appClipDomainStatuses
func (r BuildBundlesApiBuildBundlesAppClipDomainDebugStatusGetToOneRelatedRequest) FieldsAppClipDomainStatuses(fieldsAppClipDomainStatuses []string) BuildBundlesApiBuildBundlesAppClipDomainDebugStatusGetToOneRelatedRequest {
	r.fieldsAppClipDomainStatuses = &fieldsAppClipDomainStatuses
	return r
}

func (r BuildBundlesApiBuildBundlesAppClipDomainDebugStatusGetToOneRelatedRequest) Execute() (*AppClipDomainStatusResponse, *http.Response, error) {
	return r.ApiService.BuildBundlesAppClipDomainDebugStatusGetToOneRelatedExecute(r)
}

/*
BuildBundlesAppClipDomainDebugStatusGetToOneRelated Method for BuildBundlesAppClipDomainDebugStatusGetToOneRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return BuildBundlesApiBuildBundlesAppClipDomainDebugStatusGetToOneRelatedRequest
*/
func (a *BuildBundlesApiService) BuildBundlesAppClipDomainDebugStatusGetToOneRelated(ctx context.Context, id string) BuildBundlesApiBuildBundlesAppClipDomainDebugStatusGetToOneRelatedRequest {
	return BuildBundlesApiBuildBundlesAppClipDomainDebugStatusGetToOneRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppClipDomainStatusResponse
func (a *BuildBundlesApiService) BuildBundlesAppClipDomainDebugStatusGetToOneRelatedExecute(r BuildBundlesApiBuildBundlesAppClipDomainDebugStatusGetToOneRelatedRequest) (*AppClipDomainStatusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppClipDomainStatusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BuildBundlesApiService.BuildBundlesAppClipDomainDebugStatusGetToOneRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/buildBundles/{id}/appClipDomainDebugStatus"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsAppClipDomainStatuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appClipDomainStatuses]", r.fieldsAppClipDomainStatuses, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *BuildBundlesApiService
	id string
	fieldsBetaAppClipInvocations *[]string
	fieldsBetaAppClipInvocationLocalizations *[]string
	limit *int32
	limitBetaAppClipInvocationLocalizations *int32
	include *[]string
}

// the fields to include for returned resources of type betaAppClipInvocations
func (r BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest) FieldsBetaAppClipInvocations(fieldsBetaAppClipInvocations []string) BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest {
	r.fieldsBetaAppClipInvocations = &fieldsBetaAppClipInvocations
	return r
}

// the fields to include for returned resources of type betaAppClipInvocationLocalizations
func (r BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest) FieldsBetaAppClipInvocationLocalizations(fieldsBetaAppClipInvocationLocalizations []string) BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest {
	r.fieldsBetaAppClipInvocationLocalizations = &fieldsBetaAppClipInvocationLocalizations
	return r
}

// maximum resources per page
func (r BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest) Limit(limit int32) BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// maximum number of related betaAppClipInvocationLocalizations returned (when they are included)
func (r BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest) LimitBetaAppClipInvocationLocalizations(limitBetaAppClipInvocationLocalizations int32) BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest {
	r.limitBetaAppClipInvocationLocalizations = &limitBetaAppClipInvocationLocalizations
	return r
}

// comma-separated list of relationships to include
func (r BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest) Include(include []string) BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest) Execute() (*BetaAppClipInvocationsResponse, *http.Response, error) {
	return r.ApiService.BuildBundlesBetaAppClipInvocationsGetToManyRelatedExecute(r)
}

/*
BuildBundlesBetaAppClipInvocationsGetToManyRelated Method for BuildBundlesBetaAppClipInvocationsGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest
*/
func (a *BuildBundlesApiService) BuildBundlesBetaAppClipInvocationsGetToManyRelated(ctx context.Context, id string) BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest {
	return BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return BetaAppClipInvocationsResponse
func (a *BuildBundlesApiService) BuildBundlesBetaAppClipInvocationsGetToManyRelatedExecute(r BuildBundlesApiBuildBundlesBetaAppClipInvocationsGetToManyRelatedRequest) (*BetaAppClipInvocationsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BetaAppClipInvocationsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BuildBundlesApiService.BuildBundlesBetaAppClipInvocationsGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/buildBundles/{id}/betaAppClipInvocations"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsBetaAppClipInvocations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[betaAppClipInvocations]", r.fieldsBetaAppClipInvocations, "csv")
	}
	if r.fieldsBetaAppClipInvocationLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[betaAppClipInvocationLocalizations]", r.fieldsBetaAppClipInvocationLocalizations, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.limitBetaAppClipInvocationLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[betaAppClipInvocationLocalizations]", r.limitBetaAppClipInvocationLocalizations, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BuildBundlesApiBuildBundlesBuildBundleFileSizesGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *BuildBundlesApiService
	id string
	fieldsBuildBundleFileSizes *[]string
	limit *int32
}

// the fields to include for returned resources of type buildBundleFileSizes
func (r BuildBundlesApiBuildBundlesBuildBundleFileSizesGetToManyRelatedRequest) FieldsBuildBundleFileSizes(fieldsBuildBundleFileSizes []string) BuildBundlesApiBuildBundlesBuildBundleFileSizesGetToManyRelatedRequest {
	r.fieldsBuildBundleFileSizes = &fieldsBuildBundleFileSizes
	return r
}

// maximum resources per page
func (r BuildBundlesApiBuildBundlesBuildBundleFileSizesGetToManyRelatedRequest) Limit(limit int32) BuildBundlesApiBuildBundlesBuildBundleFileSizesGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

func (r BuildBundlesApiBuildBundlesBuildBundleFileSizesGetToManyRelatedRequest) Execute() (*BuildBundleFileSizesResponse, *http.Response, error) {
	return r.ApiService.BuildBundlesBuildBundleFileSizesGetToManyRelatedExecute(r)
}

/*
BuildBundlesBuildBundleFileSizesGetToManyRelated Method for BuildBundlesBuildBundleFileSizesGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return BuildBundlesApiBuildBundlesBuildBundleFileSizesGetToManyRelatedRequest
*/
func (a *BuildBundlesApiService) BuildBundlesBuildBundleFileSizesGetToManyRelated(ctx context.Context, id string) BuildBundlesApiBuildBundlesBuildBundleFileSizesGetToManyRelatedRequest {
	return BuildBundlesApiBuildBundlesBuildBundleFileSizesGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return BuildBundleFileSizesResponse
func (a *BuildBundlesApiService) BuildBundlesBuildBundleFileSizesGetToManyRelatedExecute(r BuildBundlesApiBuildBundlesBuildBundleFileSizesGetToManyRelatedRequest) (*BuildBundleFileSizesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BuildBundleFileSizesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BuildBundlesApiService.BuildBundlesBuildBundleFileSizesGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/buildBundles/{id}/buildBundleFileSizes"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsBuildBundleFileSizes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[buildBundleFileSizes]", r.fieldsBuildBundleFileSizes, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
