/*
App Store Connect API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package appstoreopenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AppCustomProductPageVersionsApiService AppCustomProductPageVersionsApi service
type AppCustomProductPageVersionsApiService service

type AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *AppCustomProductPageVersionsApiService
	id string
	filterLocale *[]string
	fieldsAppScreenshotSets *[]string
	fieldsAppCustomProductPageLocalizations *[]string
	fieldsAppCustomProductPageVersions *[]string
	fieldsAppPreviewSets *[]string
	limit *int32
	limitAppScreenshotSets *int32
	limitAppPreviewSets *int32
	include *[]string
}

// filter by attribute &#39;locale&#39;
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest) FilterLocale(filterLocale []string) AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest {
	r.filterLocale = &filterLocale
	return r
}

// the fields to include for returned resources of type appScreenshotSets
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest) FieldsAppScreenshotSets(fieldsAppScreenshotSets []string) AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest {
	r.fieldsAppScreenshotSets = &fieldsAppScreenshotSets
	return r
}

// the fields to include for returned resources of type appCustomProductPageLocalizations
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest) FieldsAppCustomProductPageLocalizations(fieldsAppCustomProductPageLocalizations []string) AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest {
	r.fieldsAppCustomProductPageLocalizations = &fieldsAppCustomProductPageLocalizations
	return r
}

// the fields to include for returned resources of type appCustomProductPageVersions
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest) FieldsAppCustomProductPageVersions(fieldsAppCustomProductPageVersions []string) AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest {
	r.fieldsAppCustomProductPageVersions = &fieldsAppCustomProductPageVersions
	return r
}

// the fields to include for returned resources of type appPreviewSets
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest) FieldsAppPreviewSets(fieldsAppPreviewSets []string) AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest {
	r.fieldsAppPreviewSets = &fieldsAppPreviewSets
	return r
}

// maximum resources per page
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest) Limit(limit int32) AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

// maximum number of related appScreenshotSets returned (when they are included)
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest) LimitAppScreenshotSets(limitAppScreenshotSets int32) AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest {
	r.limitAppScreenshotSets = &limitAppScreenshotSets
	return r
}

// maximum number of related appPreviewSets returned (when they are included)
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest) LimitAppPreviewSets(limitAppPreviewSets int32) AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest {
	r.limitAppPreviewSets = &limitAppPreviewSets
	return r
}

// comma-separated list of relationships to include
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest) Include(include []string) AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest {
	r.include = &include
	return r
}

func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest) Execute() (*AppCustomProductPageLocalizationsResponse, *http.Response, error) {
	return r.ApiService.AppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedExecute(r)
}

/*
AppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelated Method for AppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest
*/
func (a *AppCustomProductPageVersionsApiService) AppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelated(ctx context.Context, id string) AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest {
	return AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppCustomProductPageLocalizationsResponse
func (a *AppCustomProductPageVersionsApiService) AppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedExecute(r AppCustomProductPageVersionsApiAppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelatedRequest) (*AppCustomProductPageLocalizationsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppCustomProductPageLocalizationsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppCustomProductPageVersionsApiService.AppCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appCustomProductPageVersions/{id}/appCustomProductPageLocalizations"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterLocale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[locale]", r.filterLocale, "csv")
	}
	if r.fieldsAppScreenshotSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appScreenshotSets]", r.fieldsAppScreenshotSets, "csv")
	}
	if r.fieldsAppCustomProductPageLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appCustomProductPageLocalizations]", r.fieldsAppCustomProductPageLocalizations, "csv")
	}
	if r.fieldsAppCustomProductPageVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appCustomProductPageVersions]", r.fieldsAppCustomProductPageVersions, "csv")
	}
	if r.fieldsAppPreviewSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appPreviewSets]", r.fieldsAppPreviewSets, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.limitAppScreenshotSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appScreenshotSets]", r.limitAppScreenshotSets, "")
	}
	if r.limitAppPreviewSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appPreviewSets]", r.limitAppPreviewSets, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppCustomProductPageVersionsApiAppCustomProductPageVersionsCreateInstanceRequest struct {
	ctx context.Context
	ApiService *AppCustomProductPageVersionsApiService
	appCustomProductPageVersionCreateRequest *AppCustomProductPageVersionCreateRequest
}

// AppCustomProductPageVersion representation
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsCreateInstanceRequest) AppCustomProductPageVersionCreateRequest(appCustomProductPageVersionCreateRequest AppCustomProductPageVersionCreateRequest) AppCustomProductPageVersionsApiAppCustomProductPageVersionsCreateInstanceRequest {
	r.appCustomProductPageVersionCreateRequest = &appCustomProductPageVersionCreateRequest
	return r
}

func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsCreateInstanceRequest) Execute() (*AppCustomProductPageVersionResponse, *http.Response, error) {
	return r.ApiService.AppCustomProductPageVersionsCreateInstanceExecute(r)
}

/*
AppCustomProductPageVersionsCreateInstance Method for AppCustomProductPageVersionsCreateInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AppCustomProductPageVersionsApiAppCustomProductPageVersionsCreateInstanceRequest
*/
func (a *AppCustomProductPageVersionsApiService) AppCustomProductPageVersionsCreateInstance(ctx context.Context) AppCustomProductPageVersionsApiAppCustomProductPageVersionsCreateInstanceRequest {
	return AppCustomProductPageVersionsApiAppCustomProductPageVersionsCreateInstanceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AppCustomProductPageVersionResponse
func (a *AppCustomProductPageVersionsApiService) AppCustomProductPageVersionsCreateInstanceExecute(r AppCustomProductPageVersionsApiAppCustomProductPageVersionsCreateInstanceRequest) (*AppCustomProductPageVersionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppCustomProductPageVersionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppCustomProductPageVersionsApiService.AppCustomProductPageVersionsCreateInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appCustomProductPageVersions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.appCustomProductPageVersionCreateRequest == nil {
		return localVarReturnValue, nil, reportError("appCustomProductPageVersionCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.appCustomProductPageVersionCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest struct {
	ctx context.Context
	ApiService *AppCustomProductPageVersionsApiService
	id string
	fieldsAppCustomProductPageVersions *[]string
	include *[]string
	fieldsAppCustomProductPageLocalizations *[]string
	limitAppCustomProductPageLocalizations *int32
}

// the fields to include for returned resources of type appCustomProductPageVersions
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest) FieldsAppCustomProductPageVersions(fieldsAppCustomProductPageVersions []string) AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest {
	r.fieldsAppCustomProductPageVersions = &fieldsAppCustomProductPageVersions
	return r
}

// comma-separated list of relationships to include
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest) Include(include []string) AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type appCustomProductPageLocalizations
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest) FieldsAppCustomProductPageLocalizations(fieldsAppCustomProductPageLocalizations []string) AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest {
	r.fieldsAppCustomProductPageLocalizations = &fieldsAppCustomProductPageLocalizations
	return r
}

// maximum number of related appCustomProductPageLocalizations returned (when they are included)
func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest) LimitAppCustomProductPageLocalizations(limitAppCustomProductPageLocalizations int32) AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest {
	r.limitAppCustomProductPageLocalizations = &limitAppCustomProductPageLocalizations
	return r
}

func (r AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest) Execute() (*AppCustomProductPageVersionResponse, *http.Response, error) {
	return r.ApiService.AppCustomProductPageVersionsGetInstanceExecute(r)
}

/*
AppCustomProductPageVersionsGetInstance Method for AppCustomProductPageVersionsGetInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest
*/
func (a *AppCustomProductPageVersionsApiService) AppCustomProductPageVersionsGetInstance(ctx context.Context, id string) AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest {
	return AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppCustomProductPageVersionResponse
func (a *AppCustomProductPageVersionsApiService) AppCustomProductPageVersionsGetInstanceExecute(r AppCustomProductPageVersionsApiAppCustomProductPageVersionsGetInstanceRequest) (*AppCustomProductPageVersionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppCustomProductPageVersionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppCustomProductPageVersionsApiService.AppCustomProductPageVersionsGetInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/appCustomProductPageVersions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsAppCustomProductPageVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appCustomProductPageVersions]", r.fieldsAppCustomProductPageVersions, "csv")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsAppCustomProductPageLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[appCustomProductPageLocalizations]", r.fieldsAppCustomProductPageLocalizations, "csv")
	}
	if r.limitAppCustomProductPageLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[appCustomProductPageLocalizations]", r.limitAppCustomProductPageLocalizations, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
