/*
App Store Connect API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package appstoreopenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PreReleaseVersionsApiService PreReleaseVersionsApi service
type PreReleaseVersionsApiService service

type PreReleaseVersionsApiPreReleaseVersionsAppGetToOneRelatedRequest struct {
	ctx context.Context
	ApiService *PreReleaseVersionsApiService
	id string
	fieldsApps *[]string
}

// the fields to include for returned resources of type apps
func (r PreReleaseVersionsApiPreReleaseVersionsAppGetToOneRelatedRequest) FieldsApps(fieldsApps []string) PreReleaseVersionsApiPreReleaseVersionsAppGetToOneRelatedRequest {
	r.fieldsApps = &fieldsApps
	return r
}

func (r PreReleaseVersionsApiPreReleaseVersionsAppGetToOneRelatedRequest) Execute() (*AppResponse, *http.Response, error) {
	return r.ApiService.PreReleaseVersionsAppGetToOneRelatedExecute(r)
}

/*
PreReleaseVersionsAppGetToOneRelated Method for PreReleaseVersionsAppGetToOneRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return PreReleaseVersionsApiPreReleaseVersionsAppGetToOneRelatedRequest
*/
func (a *PreReleaseVersionsApiService) PreReleaseVersionsAppGetToOneRelated(ctx context.Context, id string) PreReleaseVersionsApiPreReleaseVersionsAppGetToOneRelatedRequest {
	return PreReleaseVersionsApiPreReleaseVersionsAppGetToOneRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppResponse
func (a *PreReleaseVersionsApiService) PreReleaseVersionsAppGetToOneRelatedExecute(r PreReleaseVersionsApiPreReleaseVersionsAppGetToOneRelatedRequest) (*AppResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PreReleaseVersionsApiService.PreReleaseVersionsAppGetToOneRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/preReleaseVersions/{id}/app"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsApps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[apps]", r.fieldsApps, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PreReleaseVersionsApiPreReleaseVersionsBuildsGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *PreReleaseVersionsApiService
	id string
	fieldsBuilds *[]string
	limit *int32
}

// the fields to include for returned resources of type builds
func (r PreReleaseVersionsApiPreReleaseVersionsBuildsGetToManyRelatedRequest) FieldsBuilds(fieldsBuilds []string) PreReleaseVersionsApiPreReleaseVersionsBuildsGetToManyRelatedRequest {
	r.fieldsBuilds = &fieldsBuilds
	return r
}

// maximum resources per page
func (r PreReleaseVersionsApiPreReleaseVersionsBuildsGetToManyRelatedRequest) Limit(limit int32) PreReleaseVersionsApiPreReleaseVersionsBuildsGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

func (r PreReleaseVersionsApiPreReleaseVersionsBuildsGetToManyRelatedRequest) Execute() (*BuildsResponse, *http.Response, error) {
	return r.ApiService.PreReleaseVersionsBuildsGetToManyRelatedExecute(r)
}

/*
PreReleaseVersionsBuildsGetToManyRelated Method for PreReleaseVersionsBuildsGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return PreReleaseVersionsApiPreReleaseVersionsBuildsGetToManyRelatedRequest
*/
func (a *PreReleaseVersionsApiService) PreReleaseVersionsBuildsGetToManyRelated(ctx context.Context, id string) PreReleaseVersionsApiPreReleaseVersionsBuildsGetToManyRelatedRequest {
	return PreReleaseVersionsApiPreReleaseVersionsBuildsGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return BuildsResponse
func (a *PreReleaseVersionsApiService) PreReleaseVersionsBuildsGetToManyRelatedExecute(r PreReleaseVersionsApiPreReleaseVersionsBuildsGetToManyRelatedRequest) (*BuildsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BuildsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PreReleaseVersionsApiService.PreReleaseVersionsBuildsGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/preReleaseVersions/{id}/builds"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsBuilds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[builds]", r.fieldsBuilds, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest struct {
	ctx context.Context
	ApiService *PreReleaseVersionsApiService
	filterBuildsExpired *[]string
	filterBuildsProcessingState *[]string
	filterBuildsVersion *[]string
	filterPlatform *[]string
	filterVersion *[]string
	filterApp *[]string
	filterBuilds *[]string
	sort *[]string
	fieldsPreReleaseVersions *[]string
	limit *int32
	include *[]string
	fieldsApps *[]string
	fieldsBuilds *[]string
	limitBuilds *int32
}

// filter by attribute &#39;builds.expired&#39;
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) FilterBuildsExpired(filterBuildsExpired []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.filterBuildsExpired = &filterBuildsExpired
	return r
}

// filter by attribute &#39;builds.processingState&#39;
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) FilterBuildsProcessingState(filterBuildsProcessingState []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.filterBuildsProcessingState = &filterBuildsProcessingState
	return r
}

// filter by attribute &#39;builds.version&#39;
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) FilterBuildsVersion(filterBuildsVersion []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.filterBuildsVersion = &filterBuildsVersion
	return r
}

// filter by attribute &#39;platform&#39;
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) FilterPlatform(filterPlatform []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.filterPlatform = &filterPlatform
	return r
}

// filter by attribute &#39;version&#39;
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) FilterVersion(filterVersion []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.filterVersion = &filterVersion
	return r
}

// filter by id(s) of related &#39;app&#39;
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) FilterApp(filterApp []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.filterApp = &filterApp
	return r
}

// filter by id(s) of related &#39;builds&#39;
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) FilterBuilds(filterBuilds []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.filterBuilds = &filterBuilds
	return r
}

// comma-separated list of sort expressions; resources will be sorted as specified
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) Sort(sort []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.sort = &sort
	return r
}

// the fields to include for returned resources of type preReleaseVersions
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) FieldsPreReleaseVersions(fieldsPreReleaseVersions []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.fieldsPreReleaseVersions = &fieldsPreReleaseVersions
	return r
}

// maximum resources per page
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) Limit(limit int32) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) Include(include []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type apps
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) FieldsApps(fieldsApps []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.fieldsApps = &fieldsApps
	return r
}

// the fields to include for returned resources of type builds
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) FieldsBuilds(fieldsBuilds []string) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.fieldsBuilds = &fieldsBuilds
	return r
}

// maximum number of related builds returned (when they are included)
func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) LimitBuilds(limitBuilds int32) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	r.limitBuilds = &limitBuilds
	return r
}

func (r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) Execute() (*PreReleaseVersionsResponse, *http.Response, error) {
	return r.ApiService.PreReleaseVersionsGetCollectionExecute(r)
}

/*
PreReleaseVersionsGetCollection Method for PreReleaseVersionsGetCollection

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest
*/
func (a *PreReleaseVersionsApiService) PreReleaseVersionsGetCollection(ctx context.Context) PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest {
	return PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PreReleaseVersionsResponse
func (a *PreReleaseVersionsApiService) PreReleaseVersionsGetCollectionExecute(r PreReleaseVersionsApiPreReleaseVersionsGetCollectionRequest) (*PreReleaseVersionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PreReleaseVersionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PreReleaseVersionsApiService.PreReleaseVersionsGetCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/preReleaseVersions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterBuildsExpired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[builds.expired]", r.filterBuildsExpired, "csv")
	}
	if r.filterBuildsProcessingState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[builds.processingState]", r.filterBuildsProcessingState, "csv")
	}
	if r.filterBuildsVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[builds.version]", r.filterBuildsVersion, "csv")
	}
	if r.filterPlatform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[platform]", r.filterPlatform, "csv")
	}
	if r.filterVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[version]", r.filterVersion, "csv")
	}
	if r.filterApp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[app]", r.filterApp, "csv")
	}
	if r.filterBuilds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[builds]", r.filterBuilds, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.fieldsPreReleaseVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[preReleaseVersions]", r.fieldsPreReleaseVersions, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsApps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[apps]", r.fieldsApps, "csv")
	}
	if r.fieldsBuilds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[builds]", r.fieldsBuilds, "csv")
	}
	if r.limitBuilds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[builds]", r.limitBuilds, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest struct {
	ctx context.Context
	ApiService *PreReleaseVersionsApiService
	id string
	fieldsPreReleaseVersions *[]string
	include *[]string
	fieldsApps *[]string
	fieldsBuilds *[]string
	limitBuilds *int32
}

// the fields to include for returned resources of type preReleaseVersions
func (r PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest) FieldsPreReleaseVersions(fieldsPreReleaseVersions []string) PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest {
	r.fieldsPreReleaseVersions = &fieldsPreReleaseVersions
	return r
}

// comma-separated list of relationships to include
func (r PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest) Include(include []string) PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type apps
func (r PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest) FieldsApps(fieldsApps []string) PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest {
	r.fieldsApps = &fieldsApps
	return r
}

// the fields to include for returned resources of type builds
func (r PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest) FieldsBuilds(fieldsBuilds []string) PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest {
	r.fieldsBuilds = &fieldsBuilds
	return r
}

// maximum number of related builds returned (when they are included)
func (r PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest) LimitBuilds(limitBuilds int32) PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest {
	r.limitBuilds = &limitBuilds
	return r
}

func (r PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest) Execute() (*PrereleaseVersionResponse, *http.Response, error) {
	return r.ApiService.PreReleaseVersionsGetInstanceExecute(r)
}

/*
PreReleaseVersionsGetInstance Method for PreReleaseVersionsGetInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest
*/
func (a *PreReleaseVersionsApiService) PreReleaseVersionsGetInstance(ctx context.Context, id string) PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest {
	return PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PrereleaseVersionResponse
func (a *PreReleaseVersionsApiService) PreReleaseVersionsGetInstanceExecute(r PreReleaseVersionsApiPreReleaseVersionsGetInstanceRequest) (*PrereleaseVersionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PrereleaseVersionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PreReleaseVersionsApiService.PreReleaseVersionsGetInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/preReleaseVersions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsPreReleaseVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[preReleaseVersions]", r.fieldsPreReleaseVersions, "csv")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsApps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[apps]", r.fieldsApps, "csv")
	}
	if r.fieldsBuilds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[builds]", r.fieldsBuilds, "csv")
	}
	if r.limitBuilds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[builds]", r.limitBuilds, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
