/*
App Store Connect API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package appstoreopenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BundleIdsApiService BundleIdsApi service
type BundleIdsApiService service

type BundleIdsApiBundleIdsAppGetToOneRelatedRequest struct {
	ctx context.Context
	ApiService *BundleIdsApiService
	id string
	fieldsApps *[]string
}

// the fields to include for returned resources of type apps
func (r BundleIdsApiBundleIdsAppGetToOneRelatedRequest) FieldsApps(fieldsApps []string) BundleIdsApiBundleIdsAppGetToOneRelatedRequest {
	r.fieldsApps = &fieldsApps
	return r
}

func (r BundleIdsApiBundleIdsAppGetToOneRelatedRequest) Execute() (*AppResponse, *http.Response, error) {
	return r.ApiService.BundleIdsAppGetToOneRelatedExecute(r)
}

/*
BundleIdsAppGetToOneRelated Method for BundleIdsAppGetToOneRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return BundleIdsApiBundleIdsAppGetToOneRelatedRequest
*/
func (a *BundleIdsApiService) BundleIdsAppGetToOneRelated(ctx context.Context, id string) BundleIdsApiBundleIdsAppGetToOneRelatedRequest {
	return BundleIdsApiBundleIdsAppGetToOneRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AppResponse
func (a *BundleIdsApiService) BundleIdsAppGetToOneRelatedExecute(r BundleIdsApiBundleIdsAppGetToOneRelatedRequest) (*AppResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BundleIdsApiService.BundleIdsAppGetToOneRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bundleIds/{id}/app"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsApps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[apps]", r.fieldsApps, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BundleIdsApiBundleIdsBundleIdCapabilitiesGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *BundleIdsApiService
	id string
	fieldsBundleIdCapabilities *[]string
	limit *int32
}

// the fields to include for returned resources of type bundleIdCapabilities
func (r BundleIdsApiBundleIdsBundleIdCapabilitiesGetToManyRelatedRequest) FieldsBundleIdCapabilities(fieldsBundleIdCapabilities []string) BundleIdsApiBundleIdsBundleIdCapabilitiesGetToManyRelatedRequest {
	r.fieldsBundleIdCapabilities = &fieldsBundleIdCapabilities
	return r
}

// maximum resources per page
func (r BundleIdsApiBundleIdsBundleIdCapabilitiesGetToManyRelatedRequest) Limit(limit int32) BundleIdsApiBundleIdsBundleIdCapabilitiesGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

func (r BundleIdsApiBundleIdsBundleIdCapabilitiesGetToManyRelatedRequest) Execute() (*BundleIdCapabilitiesResponse, *http.Response, error) {
	return r.ApiService.BundleIdsBundleIdCapabilitiesGetToManyRelatedExecute(r)
}

/*
BundleIdsBundleIdCapabilitiesGetToManyRelated Method for BundleIdsBundleIdCapabilitiesGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return BundleIdsApiBundleIdsBundleIdCapabilitiesGetToManyRelatedRequest
*/
func (a *BundleIdsApiService) BundleIdsBundleIdCapabilitiesGetToManyRelated(ctx context.Context, id string) BundleIdsApiBundleIdsBundleIdCapabilitiesGetToManyRelatedRequest {
	return BundleIdsApiBundleIdsBundleIdCapabilitiesGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return BundleIdCapabilitiesResponse
func (a *BundleIdsApiService) BundleIdsBundleIdCapabilitiesGetToManyRelatedExecute(r BundleIdsApiBundleIdsBundleIdCapabilitiesGetToManyRelatedRequest) (*BundleIdCapabilitiesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BundleIdCapabilitiesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BundleIdsApiService.BundleIdsBundleIdCapabilitiesGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bundleIds/{id}/bundleIdCapabilities"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsBundleIdCapabilities != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[bundleIdCapabilities]", r.fieldsBundleIdCapabilities, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BundleIdsApiBundleIdsCreateInstanceRequest struct {
	ctx context.Context
	ApiService *BundleIdsApiService
	bundleIdCreateRequest *BundleIdCreateRequest
}

// BundleId representation
func (r BundleIdsApiBundleIdsCreateInstanceRequest) BundleIdCreateRequest(bundleIdCreateRequest BundleIdCreateRequest) BundleIdsApiBundleIdsCreateInstanceRequest {
	r.bundleIdCreateRequest = &bundleIdCreateRequest
	return r
}

func (r BundleIdsApiBundleIdsCreateInstanceRequest) Execute() (*BundleIdResponse, *http.Response, error) {
	return r.ApiService.BundleIdsCreateInstanceExecute(r)
}

/*
BundleIdsCreateInstance Method for BundleIdsCreateInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BundleIdsApiBundleIdsCreateInstanceRequest
*/
func (a *BundleIdsApiService) BundleIdsCreateInstance(ctx context.Context) BundleIdsApiBundleIdsCreateInstanceRequest {
	return BundleIdsApiBundleIdsCreateInstanceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BundleIdResponse
func (a *BundleIdsApiService) BundleIdsCreateInstanceExecute(r BundleIdsApiBundleIdsCreateInstanceRequest) (*BundleIdResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BundleIdResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BundleIdsApiService.BundleIdsCreateInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bundleIds"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bundleIdCreateRequest == nil {
		return localVarReturnValue, nil, reportError("bundleIdCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bundleIdCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BundleIdsApiBundleIdsDeleteInstanceRequest struct {
	ctx context.Context
	ApiService *BundleIdsApiService
	id string
}

func (r BundleIdsApiBundleIdsDeleteInstanceRequest) Execute() (*http.Response, error) {
	return r.ApiService.BundleIdsDeleteInstanceExecute(r)
}

/*
BundleIdsDeleteInstance Method for BundleIdsDeleteInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return BundleIdsApiBundleIdsDeleteInstanceRequest
*/
func (a *BundleIdsApiService) BundleIdsDeleteInstance(ctx context.Context, id string) BundleIdsApiBundleIdsDeleteInstanceRequest {
	return BundleIdsApiBundleIdsDeleteInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *BundleIdsApiService) BundleIdsDeleteInstanceExecute(r BundleIdsApiBundleIdsDeleteInstanceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BundleIdsApiService.BundleIdsDeleteInstance")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bundleIds/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BundleIdsApiBundleIdsGetCollectionRequest struct {
	ctx context.Context
	ApiService *BundleIdsApiService
	filterIdentifier *[]string
	filterName *[]string
	filterPlatform *[]string
	filterSeedId *[]string
	filterId *[]string
	sort *[]string
	fieldsBundleIds *[]string
	limit *int32
	include *[]string
	fieldsBundleIdCapabilities *[]string
	fieldsProfiles *[]string
	fieldsApps *[]string
	limitBundleIdCapabilities *int32
	limitProfiles *int32
}

// filter by attribute &#39;identifier&#39;
func (r BundleIdsApiBundleIdsGetCollectionRequest) FilterIdentifier(filterIdentifier []string) BundleIdsApiBundleIdsGetCollectionRequest {
	r.filterIdentifier = &filterIdentifier
	return r
}

// filter by attribute &#39;name&#39;
func (r BundleIdsApiBundleIdsGetCollectionRequest) FilterName(filterName []string) BundleIdsApiBundleIdsGetCollectionRequest {
	r.filterName = &filterName
	return r
}

// filter by attribute &#39;platform&#39;
func (r BundleIdsApiBundleIdsGetCollectionRequest) FilterPlatform(filterPlatform []string) BundleIdsApiBundleIdsGetCollectionRequest {
	r.filterPlatform = &filterPlatform
	return r
}

// filter by attribute &#39;seedId&#39;
func (r BundleIdsApiBundleIdsGetCollectionRequest) FilterSeedId(filterSeedId []string) BundleIdsApiBundleIdsGetCollectionRequest {
	r.filterSeedId = &filterSeedId
	return r
}

// filter by id(s)
func (r BundleIdsApiBundleIdsGetCollectionRequest) FilterId(filterId []string) BundleIdsApiBundleIdsGetCollectionRequest {
	r.filterId = &filterId
	return r
}

// comma-separated list of sort expressions; resources will be sorted as specified
func (r BundleIdsApiBundleIdsGetCollectionRequest) Sort(sort []string) BundleIdsApiBundleIdsGetCollectionRequest {
	r.sort = &sort
	return r
}

// the fields to include for returned resources of type bundleIds
func (r BundleIdsApiBundleIdsGetCollectionRequest) FieldsBundleIds(fieldsBundleIds []string) BundleIdsApiBundleIdsGetCollectionRequest {
	r.fieldsBundleIds = &fieldsBundleIds
	return r
}

// maximum resources per page
func (r BundleIdsApiBundleIdsGetCollectionRequest) Limit(limit int32) BundleIdsApiBundleIdsGetCollectionRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r BundleIdsApiBundleIdsGetCollectionRequest) Include(include []string) BundleIdsApiBundleIdsGetCollectionRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type bundleIdCapabilities
func (r BundleIdsApiBundleIdsGetCollectionRequest) FieldsBundleIdCapabilities(fieldsBundleIdCapabilities []string) BundleIdsApiBundleIdsGetCollectionRequest {
	r.fieldsBundleIdCapabilities = &fieldsBundleIdCapabilities
	return r
}

// the fields to include for returned resources of type profiles
func (r BundleIdsApiBundleIdsGetCollectionRequest) FieldsProfiles(fieldsProfiles []string) BundleIdsApiBundleIdsGetCollectionRequest {
	r.fieldsProfiles = &fieldsProfiles
	return r
}

// the fields to include for returned resources of type apps
func (r BundleIdsApiBundleIdsGetCollectionRequest) FieldsApps(fieldsApps []string) BundleIdsApiBundleIdsGetCollectionRequest {
	r.fieldsApps = &fieldsApps
	return r
}

// maximum number of related bundleIdCapabilities returned (when they are included)
func (r BundleIdsApiBundleIdsGetCollectionRequest) LimitBundleIdCapabilities(limitBundleIdCapabilities int32) BundleIdsApiBundleIdsGetCollectionRequest {
	r.limitBundleIdCapabilities = &limitBundleIdCapabilities
	return r
}

// maximum number of related profiles returned (when they are included)
func (r BundleIdsApiBundleIdsGetCollectionRequest) LimitProfiles(limitProfiles int32) BundleIdsApiBundleIdsGetCollectionRequest {
	r.limitProfiles = &limitProfiles
	return r
}

func (r BundleIdsApiBundleIdsGetCollectionRequest) Execute() (*BundleIdsResponse, *http.Response, error) {
	return r.ApiService.BundleIdsGetCollectionExecute(r)
}

/*
BundleIdsGetCollection Method for BundleIdsGetCollection

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BundleIdsApiBundleIdsGetCollectionRequest
*/
func (a *BundleIdsApiService) BundleIdsGetCollection(ctx context.Context) BundleIdsApiBundleIdsGetCollectionRequest {
	return BundleIdsApiBundleIdsGetCollectionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BundleIdsResponse
func (a *BundleIdsApiService) BundleIdsGetCollectionExecute(r BundleIdsApiBundleIdsGetCollectionRequest) (*BundleIdsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BundleIdsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BundleIdsApiService.BundleIdsGetCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bundleIds"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterIdentifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[identifier]", r.filterIdentifier, "csv")
	}
	if r.filterName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[name]", r.filterName, "csv")
	}
	if r.filterPlatform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[platform]", r.filterPlatform, "csv")
	}
	if r.filterSeedId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[seedId]", r.filterSeedId, "csv")
	}
	if r.filterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[id]", r.filterId, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.fieldsBundleIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[bundleIds]", r.fieldsBundleIds, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsBundleIdCapabilities != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[bundleIdCapabilities]", r.fieldsBundleIdCapabilities, "csv")
	}
	if r.fieldsProfiles != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[profiles]", r.fieldsProfiles, "csv")
	}
	if r.fieldsApps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[apps]", r.fieldsApps, "csv")
	}
	if r.limitBundleIdCapabilities != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[bundleIdCapabilities]", r.limitBundleIdCapabilities, "")
	}
	if r.limitProfiles != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[profiles]", r.limitProfiles, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BundleIdsApiBundleIdsGetInstanceRequest struct {
	ctx context.Context
	ApiService *BundleIdsApiService
	id string
	fieldsBundleIds *[]string
	include *[]string
	fieldsBundleIdCapabilities *[]string
	fieldsProfiles *[]string
	fieldsApps *[]string
	limitBundleIdCapabilities *int32
	limitProfiles *int32
}

// the fields to include for returned resources of type bundleIds
func (r BundleIdsApiBundleIdsGetInstanceRequest) FieldsBundleIds(fieldsBundleIds []string) BundleIdsApiBundleIdsGetInstanceRequest {
	r.fieldsBundleIds = &fieldsBundleIds
	return r
}

// comma-separated list of relationships to include
func (r BundleIdsApiBundleIdsGetInstanceRequest) Include(include []string) BundleIdsApiBundleIdsGetInstanceRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type bundleIdCapabilities
func (r BundleIdsApiBundleIdsGetInstanceRequest) FieldsBundleIdCapabilities(fieldsBundleIdCapabilities []string) BundleIdsApiBundleIdsGetInstanceRequest {
	r.fieldsBundleIdCapabilities = &fieldsBundleIdCapabilities
	return r
}

// the fields to include for returned resources of type profiles
func (r BundleIdsApiBundleIdsGetInstanceRequest) FieldsProfiles(fieldsProfiles []string) BundleIdsApiBundleIdsGetInstanceRequest {
	r.fieldsProfiles = &fieldsProfiles
	return r
}

// the fields to include for returned resources of type apps
func (r BundleIdsApiBundleIdsGetInstanceRequest) FieldsApps(fieldsApps []string) BundleIdsApiBundleIdsGetInstanceRequest {
	r.fieldsApps = &fieldsApps
	return r
}

// maximum number of related bundleIdCapabilities returned (when they are included)
func (r BundleIdsApiBundleIdsGetInstanceRequest) LimitBundleIdCapabilities(limitBundleIdCapabilities int32) BundleIdsApiBundleIdsGetInstanceRequest {
	r.limitBundleIdCapabilities = &limitBundleIdCapabilities
	return r
}

// maximum number of related profiles returned (when they are included)
func (r BundleIdsApiBundleIdsGetInstanceRequest) LimitProfiles(limitProfiles int32) BundleIdsApiBundleIdsGetInstanceRequest {
	r.limitProfiles = &limitProfiles
	return r
}

func (r BundleIdsApiBundleIdsGetInstanceRequest) Execute() (*BundleIdResponse, *http.Response, error) {
	return r.ApiService.BundleIdsGetInstanceExecute(r)
}

/*
BundleIdsGetInstance Method for BundleIdsGetInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return BundleIdsApiBundleIdsGetInstanceRequest
*/
func (a *BundleIdsApiService) BundleIdsGetInstance(ctx context.Context, id string) BundleIdsApiBundleIdsGetInstanceRequest {
	return BundleIdsApiBundleIdsGetInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return BundleIdResponse
func (a *BundleIdsApiService) BundleIdsGetInstanceExecute(r BundleIdsApiBundleIdsGetInstanceRequest) (*BundleIdResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BundleIdResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BundleIdsApiService.BundleIdsGetInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bundleIds/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsBundleIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[bundleIds]", r.fieldsBundleIds, "csv")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsBundleIdCapabilities != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[bundleIdCapabilities]", r.fieldsBundleIdCapabilities, "csv")
	}
	if r.fieldsProfiles != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[profiles]", r.fieldsProfiles, "csv")
	}
	if r.fieldsApps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[apps]", r.fieldsApps, "csv")
	}
	if r.limitBundleIdCapabilities != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[bundleIdCapabilities]", r.limitBundleIdCapabilities, "")
	}
	if r.limitProfiles != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[profiles]", r.limitProfiles, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BundleIdsApiBundleIdsProfilesGetToManyRelatedRequest struct {
	ctx context.Context
	ApiService *BundleIdsApiService
	id string
	fieldsProfiles *[]string
	limit *int32
}

// the fields to include for returned resources of type profiles
func (r BundleIdsApiBundleIdsProfilesGetToManyRelatedRequest) FieldsProfiles(fieldsProfiles []string) BundleIdsApiBundleIdsProfilesGetToManyRelatedRequest {
	r.fieldsProfiles = &fieldsProfiles
	return r
}

// maximum resources per page
func (r BundleIdsApiBundleIdsProfilesGetToManyRelatedRequest) Limit(limit int32) BundleIdsApiBundleIdsProfilesGetToManyRelatedRequest {
	r.limit = &limit
	return r
}

func (r BundleIdsApiBundleIdsProfilesGetToManyRelatedRequest) Execute() (*ProfilesResponse, *http.Response, error) {
	return r.ApiService.BundleIdsProfilesGetToManyRelatedExecute(r)
}

/*
BundleIdsProfilesGetToManyRelated Method for BundleIdsProfilesGetToManyRelated

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return BundleIdsApiBundleIdsProfilesGetToManyRelatedRequest
*/
func (a *BundleIdsApiService) BundleIdsProfilesGetToManyRelated(ctx context.Context, id string) BundleIdsApiBundleIdsProfilesGetToManyRelatedRequest {
	return BundleIdsApiBundleIdsProfilesGetToManyRelatedRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProfilesResponse
func (a *BundleIdsApiService) BundleIdsProfilesGetToManyRelatedExecute(r BundleIdsApiBundleIdsProfilesGetToManyRelatedRequest) (*ProfilesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProfilesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BundleIdsApiService.BundleIdsProfilesGetToManyRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bundleIds/{id}/profiles"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsProfiles != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[profiles]", r.fieldsProfiles, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BundleIdsApiBundleIdsUpdateInstanceRequest struct {
	ctx context.Context
	ApiService *BundleIdsApiService
	id string
	bundleIdUpdateRequest *BundleIdUpdateRequest
}

// BundleId representation
func (r BundleIdsApiBundleIdsUpdateInstanceRequest) BundleIdUpdateRequest(bundleIdUpdateRequest BundleIdUpdateRequest) BundleIdsApiBundleIdsUpdateInstanceRequest {
	r.bundleIdUpdateRequest = &bundleIdUpdateRequest
	return r
}

func (r BundleIdsApiBundleIdsUpdateInstanceRequest) Execute() (*BundleIdResponse, *http.Response, error) {
	return r.ApiService.BundleIdsUpdateInstanceExecute(r)
}

/*
BundleIdsUpdateInstance Method for BundleIdsUpdateInstance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id the id of the requested resource
 @return BundleIdsApiBundleIdsUpdateInstanceRequest
*/
func (a *BundleIdsApiService) BundleIdsUpdateInstance(ctx context.Context, id string) BundleIdsApiBundleIdsUpdateInstanceRequest {
	return BundleIdsApiBundleIdsUpdateInstanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return BundleIdResponse
func (a *BundleIdsApiService) BundleIdsUpdateInstanceExecute(r BundleIdsApiBundleIdsUpdateInstanceRequest) (*BundleIdResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BundleIdResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BundleIdsApiService.BundleIdsUpdateInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bundleIds/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bundleIdUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("bundleIdUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bundleIdUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
